// Spin
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes move {
  from {left: 25%;}
  to {left: 70%;}
}

@keyframes moveTwo {
  from {left: 12%;}
  to {left: 52%;}
}

@keyframes upDown {
  from {top: -80px;}
  to {top: -81px;}
}