// Variables

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800');

@import 'keyframes.scss';

$green: #2f8230;
$grey: #E3E3E3;
$orange: #F19D28;
$green: #2e822f;
$blue: #0eacd3;

.smic-container {
	max-width: 90%;
	margin: auto;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.overlay {
	height: 100%;
	width: 100%;
	background-color: black;
	position: absolute;
	opacity: 0.45;
	z-index: 1;
	top: 0;
}

.arrow-down {
  background: url(../img/down-chevron.png);
  display: inline-block;
  background-size: 100%;
  position: absolute;
	width: 30px;
	height: 30px;
	bottom: 15%;
	left: 5%;
}

.arrow-down-grey {
  background: url(../img/down-chevron-grey.png);
  display: inline-block;
  background-size: 100%;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10%;
  left: 0;
  right: 0;
  margin: auto;
}

.transition {
	-webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

// landing page
.carousel {
	.carousel-item {
		height: 100vh;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.carousel-caption {
		left: 5%;
		right: auto;
		text-align: left;
		bottom: 20%;
		max-width: 50%;
		font-family: 'Lato', sans-serif;
		font-weight: regular;
		font-size: 16px;
			h2{
		    font-family: "Nunito Sans", sans-serif;
				font-size: 50px;
			}
	}
}

// header
.smic-header {
	&.scroll {
		nav {
			background-color: #FFF;
		}
		.navbar-brand {
			img {
				-webkit-filter: brightness(1) invert(0);
	    	filter: brightness(1) invert(0);
			}
		}
		.nav-item {
			.nav-link {
				color: #000;
			}
		}
	}
	nav {
		padding: 0 5%;
		@extend .transition;
	}
	.navbar-brand {
		img {
			width: 168px;
			height: auto;
			-webkit-filter: brightness(0) invert(1);
    	filter: brightness(0) invert(1);
    	@extend .transition;
		}
	}
}

.sidebar-nav {
	position: absolute;
	bottom: 15%;
	right: 5%;
	ul {
		padding: 0;
		list-style: none;
		text-align: right;
	}
	li {
		margin: 10px 0;
		&.active,&:hover {
			& > a {
				border-color: #FFF;
			}
		}
	}
	a {
		color: #FFF;
		text-decoration: none;
		font-size: 18px;
		padding-right: 15px;
		display: inline-block;
		border-right: 2px solid transparent;
	}
}

.navbar-collapse {
	.nav-item {
    &:last-of-type {
    	margin-right: 0;
    }
		.nav-link {
			color: #FFF;
			font-family: 'Lato', sans-serif;
			font-size: 16px;
			padding: 30px 15px;
			&:hover,&.active,&:focus {
				background-color: #0e2987;
				color: #FFF;
			}
		}
		&.dropdown {
			.nav-link {
				// &::after {
			 //    content: '';
			 //    background: url(../img/down-chevron.png);
			 //    display: inline-block;
			 //    width: 10px;
			 //    height: 10px;
			 //    background-size: 100%;
			 //    margin-left: 5px;
				// }
			}	
			.dropdown-menu {
				left: 0;
		    right: auto;
		    border: 0;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    background-color: #0e2987;
		    border-radius: 0;
		    margin: 0;
		    border-bottom: 5px solid transparent;
		    a {
		    	padding: 0;
			    margin: 20px 0;
			    padding: 0 15px;
			    color: #FFF !important;
			    font-size: 14px;
		    	background-color: transparent !important;
		    }
			}
		}
	}
	form {
		position: relative;
		width: 100%;
    margin: 23px 15px 23px 0;
    height: 34px;
    padding-left: 10px;
		input {
			margin: 0;
			border-radius: 5px;
			width: 190px;
			font-size: 14px;
		}
		button {
			background: url(../img/search.png) center no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			border: 0;
	    top: 0;
	    right: 20px;
	    bottom: 0;
	    margin: auto;
		}
	}
}

.path-to-sg {
	padding: 50px 0;
	text-align: center;
	border-bottom: 2px solid #E3E3E3;
	h3 {
		color: $green;
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
	p {
		font-family: 'Lato', sans-serif;
	}
	.section-body {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		margin: 70px 0 30px;
	}
}

.path-sg-wapper {
	position: relative;
	text-decoration: none !important;
	span {
    color: $grey;
    position: absolute;
    font-size: 70px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	}
	p {
		color: #000;
		font-size: 14px;
		max-width: 120px;
		line-height: 16px;
		min-height: 50px;
		margin: 15px auto;
		font-family: 'Lato', sans-serif;
	}
	img {
		// width: 100%;
		// height: auto;
	}
	&.sm-malls {
    margin-right: 50px;
    span {
    	top: -65px;
    }
		img {
			max-width: 150px;
		}
	}
	&.economic-opportunities {
		span {
			top: -75px;
			left: 48px;
		}
		img {
			max-width: 100px;
		}
	}
	&.environmental-responsibility {
		span {
	    left: 6px;
	    top: -70px;
		}
		img {
			max-width: 80px;
		}
	}
	&.community-impact {
		span {
			top: -74px;
			left: 32px;
		}
		img {
			max-width: 50px;
		}
	}
	&.sustainable-growth {
		span {
			top: -50px;
			left: 25px;
		}
		img {
			max-width: 100px;
		}
	}
}

.sm-malls-wrapper {
	.path-title {
		position: relative;
		display: flex;
		align-items: center;
		span {
			font-size: 200px;
			color: #e7e7e7;
			height: 145px;
			line-height: 125px;
			align-self: flex-end;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		h4 {
			font-size: 35px;
			margin-left: -50px;
			margin-top: 15%;
			max-width: 250px;
			color: #25afd4;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
	}
	.path-content {
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		img {
			max-width: 80%;
		}
		.sun {
			position: absolute;
			top: -6%;
			left: 22%;
			width: 85px;
			-webkit-animation: spin 60s infinite; /* Safari 4.0 - 8.0 */
    	animation: spin 60s infinite;
    	animation-timing-function: linear;
		}
	}
	.first-stack {
		padding: 80px 0 50px;
	}
	.second-stack {
		 padding: 20px 0 80px;
		.map {
			display: flex;
		  justify-content: center;
		  align-items: center;
		  img {
		  	max-width: 60%;
		  }
		}
		.right-content {
			display: flex;
			flex-direction: column;
			padding: 50px 15px;
			.supply-chain {
		    margin-top: auto;
		    display: flex;
		    align-items: center;
				border-top: 2px solid #e1e1e1;
				padding-top: 30px;
				max-width: 70%;
		    .count {
		    	color: #894bb7;
				font-size: 30px;
				font-family: "Nunito Sans", sans-serif;
				font-weight: 800;
		    }
		    img {
					margin-right: 50px;
					width: 180px;
					height: auto;
		    }
			}
			.count {
				color: #25afd3;
				font-size: 45px;
				font-family: "Nunito Sans", sans-serif;
				font-weight: 800;
			}
			p {
				strong {
					display: block;
				}
			}
		}
	}
}

.cultivating-culture {
	padding: 80px 0 50px;
	.culture-text{
		display: flex;
		align-items: center;
		justify-content: center;
		h4{
			color: #1e398d;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		p{
			font-display: 'Lato', sans-serif;
			line-height: 30px;
		}
	}

}

.best-companies-to-work {
	height: 350px !important;
	position: relative;
	.overlay {
		background-color: #25b0d4 !important;
		opacity: 0.7 !important;
	}
	.row {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 5%;
		right: 5%;
		margin: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: 1;
	}
	p {
		color: #FFF;
		text-align: center;
		margin: 0;
		font-size: 25px;
		font-family: 'Lato', sans-serif;
		letter-spacing: 1px;
	}
	.col{
		p{
			color: #FFF;
			text-align: center;
			margin: 0;
			font-size: 35px;
			font-family: "Nunito Sans", sans-serif;
			font-weight: 800;
			letter-spacing: 0;
		}
	}
	.third-icon-jobst{
    height: 30px;
	}
	.third-icon-forbes{
    height: 45px;
		margin: 0 0 -30px 0;
	}
}

.employees-glance {
	.first-stack {
		display: flex;
		p{
			text-align: center;
		}
		.total-employees {
			display: flex;
			align-items: center;
      margin: 40px 0 0;
      justify-content: center;
			img{
				margin-right: 20px;
				max-width: 25%;
			}
			span{
		    font-size: 45px;
				color: #1e398d;
				font-family: 'Nunito Sans', sans-serif;
				font-weight: 800;
			}
		}
		.total-employees-count {
			p {
				text-align: left;
				font-weight: bold;
				margin: -10px 0 0;
			}
    }
    .employees-glance-caption {
      margin: 2em auto;
      max-width: 60%;
      font-size: 13px;
    }
	}
	.second-stack{
		margin: 0 100px;
   		padding: 80px 0;
		.employees-glance-title{
			text-align: left;
			margin-right: 4%;
			font-family: 'Lato', sans-serif;
      font-weight: 700;
      padding-left: 5%;
		}
		.eg-bycompany{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			img{
				max-width: 200px;
				margin-bottom: 30px;
			}
			p{
				font-family: 'Lato', sans-serif;
				font-weight: 700;
			}
			span{
				font-family:'Nunito Sans', sans-serif;
				font-weight: 800;
				font-size: 30px;
				&.eg-smretail{
					color: #1e398d;
				}
				&.eg-bdo{
					color: #46a4dc;
				}
				&.eg-smprime{
					color: #46c3e1;
				}
				&.eg-cbsmic{
					color: #92d7eb;
				}
			}
		}
	}
	.third-stack{
		background-color: #f3f3f3;
		margin-bottom: 30px;
		.gender-age-wrapper {
			padding: 50px 0;
			& > div {
				display: flex;
		    align-items: center;
		    justify-content: center;
		    & > p {
		    	font-weight: bold;
		    }
			}
		}
		.graph-container {
			display: flex;
			align-items: flex-end;
			margin-left: 20px;
			align-self: flex-end;
		}
		.graph-wrapper {
			margin: 0 10px;
			text-align: center;
			.bar-graph {
				border-radius: 5px;
				width: 70px;
				color: #FFF;
				padding-top: 5px;
			}
			&.female {
				.bar-graph {
					height: 160px;
					background-color: #c55bc0;
				}
			}
			&.male {
				.bar-graph {
					height: 95px;
					background-color: #1f398e;
				}
			}
			&.under-thirty {
				.bar-graph {
					height: 140px;
					background-color: #1f398e;
				}
			}
			&.thirty-to-fifty {
				.bar-graph {
					height: 80px;
					background-color: #46a3dc;
				}
			}
			&.over-fifty {
				.bar-graph {
					height: 40px;
					background-color: #46c3e1;
				}
			}
			span {
		    font-size: 12px;
		    font-weight: bold;
			}
		}
	}
	.fourth-stack{
		padding: 50px 0;
		.eg-byregion-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				max-width: 50%;
				width: 100%;
			}
		}
		.eg-region-text {
			p {
				font-weight: bold;
				font-size: 18px;
			}
		}
		.region-colors {
			list-style: none;
		}
		.region-circles {
			position: relative;
			margin: 25px 0;
			&::before {
				content: '';
				width: 25px;
				height: 25px;
				background-color: grey;
				position: absolute;
			  left: -40px;
			  display: block;
			  border-radius: 100%;
			  top: 0;
			  bottom: 0;
			  margin: auto;
			}
			&.luzon {
				&::before {
					background-color: #1f398e;
				}
			}
			&.visayas {
				&::before {
					background-color: #46a3dc;
				}
			}
			&.mindanao {
				&::before {
					background-color: #46c3df;
				}
			}
			&.outside-phil {
				&::before {
					background-color: #93d7ec;
				}
			}
		}
	}
	.fifth-stack {
		&.parallax{
			height: 500px;
			position: relative;
	    display: flex;
	    align-items: center;
	    justify-content: center;
			.overlay{
				background-color: #00045d;
				opacity: 0.7;
				z-index: 0;
			}
		}
		.smic-container {
			z-index: 1;
		}
		.top-content {
			display: flex;
	    align-items: flex-start;
	    justify-content: center;
		}
		.bottom-content {
			text-align: center;
			max-width: 80%;
			margin: 60px auto 20px;
			p {
				color: #FFF;
				line-height: 34px;
				font-size: 16px;
			}
		}
		.emp-wrapper {
	    text-align: center;
	    color: #FFF;
	    margin: 0 50px;
	    flex-basis: 25%;
	    .count {
				font-size: 40px;
				font-family: 'Lato', sans-serif;
				font-weight: 700;
	    }
	    p {
		    font-size: 16px;
		    line-height: 20px;
	    }
		}
	}
}

.sixth-stack {
	padding: 50px 0;
	.avh-wrapper {
		max-width: 65%;
		margin: auto;
		h4 {
			text-align: center;
		}
	}
	.section-content {
		margin-top: 50px;
	}
	.top-content {
		display: flex;
		align-items: center;
    border-bottom: 1px solid #a7a7a7;
	}
	.content-wrapper {
		flex-basis: 33.3%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-bottom: 30px;
		.content-info {
			margin-left: 10px;
		}
		img {
			max-width: 25%;
			width: 100%;
		}
		span {
			font-size: 26px;
		}
		p {
			font-weight: 600;
			margin: -7px 0 0;
			font-size: 14px;
		}
	}
	.per-female-employee {
		span {
			color: #c45abe;
		}
	}
	.per-male-employee {
		span {
			color: #56aade;
		}
	}
	.per-employee {
		flex-direction: column;
		text-align: center;
    border-right: 1px solid #a7a7a7;
    margin-right: 50px;
		span {
			font-size: 32px;
			color: #1e398c;
		}
		p {
			font-size: 16px;
		}
		img {
			max-width: 20%;
			width: 100%;
		}
		.content-info {
			margin-top: 10px;
		}
	}
	.bottom-content {
		margin: 50px 0 0;
	}
	.per-employee-bottom {
		text-align: center;
		span {
			font-size: 26px;
		}
		p {
			font-size: 14px;
			font-weight: 600;
			margin: 0;
		}
	}
}

.seventh-stack {
	position: relative;
	padding: 100px 0;
	.overlay {
		background-color: #000;
		opacity: 0.7;
		z-index: 0;
	}
	.left-content {
		img {
			max-width: 30%;
			margin-bottom: 15px;
		}
	}
	.awards-wrapper {
		p {
			color: #FFF;
			font-size: 14px;
			line-height: 26px;
		}
	}
	.right-content {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		p {
			line-height: 20px;
		}
		span {
			display: block;
			font-size: 30px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			margin: 10px 0;
		}
	}
}

.economic-opportunities-wrapper {
	.first-stack {
		padding: 80px 0 50px;
	}
	.second-stack {
		img {
			max-width: 68%;
		}
	}
	.path-title {
		position: relative;
		display: flex;
		align-items: center;
		span {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 250px;
			color: #e7e7e7;
			height: 165px;
			line-height: 125px;
			align-self: flex-end;
		}
		h4 {
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 35px;
			margin-left: -6%;
			margin-top: 20%;
			max-width: 350px;
			color: $orange;
		}
	}
	.path-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		.title {
			font-size: 28px;
			margin-bottom: 20px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		.facilitate-development-container {
			display: flex;
		}
		.facilitate-wrapper {
			display: flex;
			// align-items: flex-end;
    		justify-content: center;
			img {
				max-width: 23%;
				align-self: flex-start;
				margin-top: 12px;
			}
		}
		.facilitate-info {
			margin-left: 20px;
		}
		.facilitate-count {
			font-size: 35px;
			color: $orange;
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 800;
		}
		.facilitate-desc {
		  max-width: 170px;
		  font-family: 'Nunito Sans', sans-serif;
		  font-weight: 800;
		  font-size: 16px;
		  line-height: 20px;
		  margin: 0;
		}
	}

}

.environmental-responsibility-wrapper {
	.first-stack {
		padding: 150px 0;
	}
	.second-stack {
		height: 350px;
		position: relative;
		.overlay {
			background-color: $green;
			opacity: 0.7;
		}
		.trees {
			max-width: 300px;
	    position: absolute;
	    top: -80px;
	    left: 20px;
		}
		.moving-truck {
			position: absolute;
			top: -80px;
			max-width: 150px;
			left: 25%;
			&.move {
				-webkit-animation: move 8s, upDown 1s linear infinite ; /* Safari 4.0 - 8.0 */
		  	animation: move 8s, upDown 1s linear infinite;
		  	animation-fill-mode: forwards;
			}
		}
		.factory {
			max-width: 250px;
			position: absolute;
			top: -128px;
			right: 8px;
		}
		.row {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 1;
		}
		.grf-main-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.title {
				color: #FFF;
				font-size: 30px;
				font-family: 'Lato', sans-serif;
				font-weight: 700;
			}
		}
		.grf-container {
			flex-direction: row;
			display: flex;
			.count,p {
				color: #FFF;
				font-family: 'Lato', sans-serif;
			}
			.count {
				font-size: 35px;
				font-family: 'Nunito Sans', sans-serif;
				font-weight: 800;
			}
		}
		.grf-wrapper {
			text-align: center;
			margin: 15px 120px;
		}
	}
	.third-stack {
		padding: 100px 0;
		display: flex;
		.path-left {
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
	    h5 {
			font-size: 26px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
	    }
	    .count {
	    	font-size: 35px;
			color: $blue;
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 800;
	    }
	    p {
			margin: 0;
			font-family: 'Lato', sans-serif;
	    }
	    .rc-wrapper {
	    	text-align: center;
	    	margin: 25px 0;
	    }
		}
		.path-right {
			width: 60%;
			position: relative;
			img {
				width: 100%;
				height: auto;
				&.sun {
					position: absolute;
					top: 0%;
					left: 4%;
					width: 90px;
					-webkit-animation: spin 60s infinite; /* Safari 4.0 - 8.0 */
		    	animation: spin 60s infinite;
		    	animation-timing-function: linear;
				}
			}
		}
	}
	.path-title {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			font-size: 250px;
			color: #e7e7e7;
			height: 165px;
			line-height: 125px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		h4 {
			font-size: 35px;
			margin-left: -1.75%;
			margin-top: -4%;
			max-width: 350px;
			color: $green;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
	}
}

.positive-community-wrapper{
	.parallax {
		height: 100vh;
		position: relative;
		.overlay{
			background-color: #3e58b4;
			opacity: 0.85;
			z-index: 0;
		}
	}
	.path-title{
		z-index: 1;
		top: 200px;
		span{
			font-size: 250px;
			color: #344d9f;
			height: 165px;
			line-height: 125px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		h4{
			font-size: 35px;
			margin-left: 21%;
    		margin-top: -33%;
			max-width: 350px;
			color: #fff;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
	}
	.second-stack{
		.pos-com-infographics{
			display: flex;
			// align-items: flex-end;
			justify-content: space-evenly;
			margin: 18% 0 0 0;
		}
		.pos-com-wrapper{
			text-align:center;
			h4{
				font-family: 'Nunito Sans', sans-serif;
				font-weight: 800;
				color: #fff;
				margin-top: 10px;
				font-size: 40px;
			}
			img {
				max-width: 70px;
			}
			p{
				font-family: 'Lato', sans-serif;
				font-size: 16px;
				color: #fff;
				letter-spacing: 0.5px;
				line-height: 20px;			
				&.title{
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					font-size: 25px;
					color: #fff;
					letter-spacing: 0.5px;
					line-height: 30px;
				}
				
			}
		}
		
	}
}

.sustainable-growth-wrapper{
	.first-stack {
		padding: 150px 0 0 0;
		.left-content {
			position: relative;
		}
		.sun {
			position: absolute;
	    top: -32%;
	    left: 71%;
			width: 90px;
			-webkit-animation: spin 60s infinite;
			animation: spin 60s infinite;
			animation-timing-function: linear;
		}
		img{
			max-width: 95%;
			left: -85px;
			top: -85px;
			position: relative;
		}
	}
	.path-title{
		span{
			font-size: 250px;
			color: #e7e7e7;
			height: 165px;
			line-height: 125px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		h4{
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 35px;
			margin-left: 31%;
    		margin-top: -34%;
			max-width: 350px;
			color: #c08549;
		}
	}
	.second-stack{
		padding: 0 0 120px 0;
		.sust-growth-text{
			display: flex;
			// align-items: flex-end;
			justify-content: space-evenly;
			// margin: 20% 0 0 0;
		}
		.sust-growth-wrapper{
			text-align:center;
			h4{
				font-family: 'Nunito Sans', sans-serif;
				font-weight: 800;
				color: #c08549;
				font-size: 40px;
				margin: 0;
			}
			p{
				font-family: 'Lato', sans-serif;
				font-size: 16px;
				color: #282828;
				letter-spacing: 0.5px;			
				&.title{
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					font-size: 18px;
					color: #282828;
					letter-spacing: 0.5px;
					margin-bottom: 5px;
				}
				
			}
		}
		
	}
	.third-stack{
		&.parallax {
			height: 500px;
			position: relative;
			.overlay{
				background-color: #b26d00;
				opacity: 0.85;
				z-index: 0;
				.trees{
					position: absolute;
					bottom: 0;
					max-width: 164px;
				}
				.moving-truck-two{
					position: absolute;
					max-width: 188px;
					bottom: 0;
					left: 12%;
					&.move {
						-webkit-animation: moveTwo 8s; /* Safari 4.0 - 8.0 */
				  	animation: moveTwo 8s;
				  	animation-fill-mode: forwards;
					}
				}
				.people{
					position: absolute;
					bottom: 0;
					max-width: 450px;
					right: 10px;
				}
			}
		}
		.row{
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 85px;
			right: 0;
			left: 0;
		}
		.rel-op-wrapper{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			p{
				color: #fff;
				text-align: center;
				font-family: 'Lato', sans-serif;
				font-size: 30px;
			}
			.rel-op-container{
				flex-direction: row;
				display: flex;
				.rel-op{
					text-align: center;
					margin: 15px 90px;
					span{
						color: #fff;
						font-family: 'Nunito Sans', sans-serif;
						font-weight: 800;
						font-size: 40px;
					}
					p{
						font-size: 18px;
						line-height: 20px;
					}
				}
			}
		}
	}

}

.sustainable-development-wrapper {
	margin: 80px 0 0;
	.section-header {
		text-align: center;
	}
	.section-content {
		display: flex;
		justify-content: space-between;
		max-width: 85%;
		margin: 50px auto;
    flex-wrap: wrap;
    & > div {
	    &:nth-of-type(n+13) {
		    flex-basis: 19%;
		    font-size: 14px;
		    p {
		    	font-size: 16px;
		    }
	    }
    }
	}
	.sdg-wrapper {
		cursor: pointer;
    // box-shadow: 0 0 5px 5px #f0f0f0;
    // border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
    // padding: 25px;
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    img {
    	margin-top: auto;
    	max-width: 90%;
    }
    .count {
			font-size: 50px;
			font-family: 'Lato', sans-serif;
	    font-weight: 900;
	    height: 35px;
	    line-height: 30px;
    }
    p {
			margin: 15px 0;
			font-size: 20px;
			font-family: 'Lato', sans-serif;
	   		font-weight: 900;
			line-height: 25px;
    }
  	p,.count {
  		color: #FFF;
  	}
  	img {
			-webkit-filter: brightness(0) invert(1);
			filter: brightness(0) invert(1);
  	}
    // ONE
    &.one {
  		.side {
    		background-color: #e91023;
  		}
    }
    // TWO
    &.two {
  		.side {
  			background-color: #d3a02a;
  		}
    }
    // three
    &.three {
  		.side {
  			background-color: #279a47;
    	}
    }
    &.four {
  		.side {
  			background-color: #c32033;
  		}
    }
    &.five {
  		.side {
  			background-color: #c23c28;
  		}
    }
    &.six {
  		.side {
  			background-color: #35b3da;
  		}
    }
    &.seven {
  		.side {
  			background-color: #f3ab0a;
    	}
    }
    &.eight {
  		.side {
  			background-color: #901939;
  		}
    }
    &.nine {
  		.side {
  			background-color: #f36f27;
  		}
    }
    &.ten {
  		.side {
  			background-color: #e11382;
  		}
    }
    &.eleven {
  		.side {
  			background-color: #f99c1e;
  		}
    }
    &.twelve {
  		.side {
  			background-color: #dba962;
  		}
    }
    &.thirteen {
  		.side {
  			background-color: #47773d;
    	}
    }
    &.fourteen {
  		.side {
  			background-color: #057dbc;
  		}
    }
    &.fifteen {
  		.side {
  			background-color: #3baf48;
  		}
    }
    &.sixteen {
  		.side {
  			background-color: #02558b;
  		}
    }
    &.seventeen {
  		.side {
  			background-color: #253064;
  		}
    }

	  cursor: pointer;
	  perspective: 600;
	  position: relative;
		.card-container {
		  height: 100%;
		  position: absolute;
		  transform-style: preserve-3d;
		  transition: all 1s ease-in-out;
		  width: 100%;
			box-shadow: 0 0 5px 5px #f0f0f0;
			border-radius: 10px;
			&:hover {
			  transform: rotateY(180deg);
			}
			.side {
			  backface-visibility: hidden;
			  border-radius: 6px;
			  height: 100%;
			  position: absolute;
			  overflow: hidden;
			  width: 100%;
			  padding: 10%;
			}
			.back {
			  color: #0087cc;
			  line-height: 150px;
			  text-align: center;
			  transform: rotateY(180deg);
			  display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		    p {
		    	font-size: 16px;
		      line-height: 22px;
		    	strong {
		    		font-size: 40px;
		    		display: block;
		    		text-align: center;
     				margin-bottom: 10px;
		    	}
		    }
		    &.small-text {
		    	p {
		    		font-size: 12px;
		    		line-height: 14px;
		    		margin: 5px 0;
		    		strong {
		    			font-size: 30px;
     					margin-bottom: 15px;
		    		}
		    	}
		    }
			}
		}

	}
}

.cards-stack {
	margin: 50px 0 100px;
	.cards-image {
		position: relative;
		border-radius: 8px;
		overflow: hidden;
	}
  .smic-overlay {
		background-color: #000;
		z-index: 1;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		opacity: 0.2;
  }
	h5 {
    font-size: 25px;
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif;
	}
	img {
		width: 100%;
		height: auto;
	}
	.cards-info {
		position: absolute;
		bottom: 0;
		z-index: 1;
		width: 100%;
		.title {
			color: #FFF;
			margin-left: 30px;
			margin-bottom: 30px;
			margin-right: 60px;
			font-size: 18px;
			font-family: 'Lato', sans-serif;
		}
		a {
			background: url(../img/thumb-arrow.png) center no-repeat;
			background-size: 25px;
			display: inline-block;
			width: 30px;
			height: 30px;
			background-color: #FFF;
			border-radius: 100%;
			padding: 25px;
			position: absolute;
		  bottom: 18px;
		  right: 50px;
		}
	}
	&.communities-closer-look {
		.cards-info {
			top: 20px;
			.title {
				margin-bottom: 0;
			}
			.desc {
				color: #FFF;
		    margin-left: 30px;
		    margin-right: 60px;
			font-size: 18px;
			font-family: 'Lato', sans-serif;
		    font-weight: 700;
			}
		}
	}
}

.smic-tabs {
	ul {
		padding: 0;
		list-style: none;
		overflow: hidden;
		margin: 25px 0
	}
	li {
		width: calc(100%/7);
		float: left;
		a {
			padding: 0 0 10px;
			border-bottom: 3px solid #f1f1f1;
			display: block;
			color: #000;
			text-decoration: none;
			font-size: 13px;
			text-align: center;
		}
		&.active,&:hover {
			a {
				border-color: #1e388c;
			}
		}
	}
}

.comm-row {
	display: flex;
	align-items: center;
	justify-content: center;
	.comm-wrapper {
    padding: 10px;
	  &.title {
	  	flex-basis: 38%;
			h3 {
				color: #213b8e;
				padding: 0px 60px;
				font-family: 'Lato', sans-serif;
				font-weight: 700;
			}
			p {
				padding: 0px 60px;
		    font-family: 'Lato', sans-serif;
		    font-weight: 400;
		    font-size: 18px;
			}
			span {
				color: #213b8e;
				padding: 0px 60px;
		    font-family: 'Lato', sans-serif;
			}
		}
		&.title-inside {
			flex-basis: 55%;
			p {
				font-size: 16px
			}
			h3 {
				font-size: 24px;
			}
			ul {
		    margin: 10px 0 0;
		    text-align: left;
		    list-style: disc;
		    padding: 0 80px;
		    li {
		    	text-align: left;
		    }
			}
		}	
		&.subtitle {
			margin-right: auto;
			margin-left: 40px;
			h3 {
				color: #213b8e;
		    font-family: 'Lato', sans-serif;
		    font-weight: 400;
		    font-size: 18px;
		    margin-bottom: 15px;
		    text-align: left;
		    margin: 0;
			}
		}
		&.desc {
			flex-basis: 42%;
			p {
				font-size: 15px;
				padding: 0 35px;
				// line-height: 25px;
				font-family: 'Lato', sans-serif;
			}
		}
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}
	img {
		width: 100%;
    height: auto;
	}
}

.comm-content {
	& > div {
		display: none;
	}
	#socialChange {
		display: block;
	}
}

.special-needs {
	.comm-container {
		h3 {
			font-weight: bold;
		}
		.icons-wrapper {
			align-items:end;
			span {
				margin: 0;
			}
		}
	}
}

.operation-tulong {
	.comm-wrapper {
		&.title-inside {
			h3,p {
				padding: 0px 40px;
			}
			p {
				strong {
					color: #213b8e;
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					font-size: 24px;
				}
			}
		}
		&.title-2 {
	    flex-basis: 30%;
			h3,p {
				padding: 0px 40px;
			}
			p {
				strong {
					color: #213b8e;
					font-family: 'Lato', sans-serif;
					font-weight: 700;
					font-size: 24px;
				}
			}
		}
	}
}

.special-container {
	h3 {
		margin-bottom: 35px;
	}
	.left-content {
		img {
			width: 100%;
			height: auto;
		}
	}
	.right-content {
    padding: 0 50px;
    span {
    	&.special-title {
				font-family: 'Lato', sans-serif;
				font-size: 18px;
				font-weight: 400;
    	}
    	&.subtitle {
    		color: #213b8e;
		    font-family: 'Lato', sans-serif;
		    font-weight: 400;
		    font-size: 18px;
		    margin-bottom: 15px;
		    display: block;
    	}
    }
    p {
			font-size: 18px;
			line-height: 24px;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
    }
	}
	&.testi {
		.row {
			margin: 50px -15px;
		}
		.right-content {
			display: flex;
	    flex-direction: column;
	    justify-content: center;
		}
	}
}

.comm-images-stack {
	.section-header {
	  margin: 75px 0;
		h4 {
			text-align: center;
	    font-size: 32px;
	    margin: 0;
		}
		p {
			text-align: center;
			font-family: 'Lato',sans-serif;
			font-size: 18px;
			font-weight: 400;
			margin: 10px 0 0;
		}
	}
	.section-content {
		img {
			height: 400px;
			width: 100%;
			object-fit: cover;
		}
		.info {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 60px 0;
			& > div {
				flex-basis: 50%;
			}
			.left-content {
				padding-left: 12%;
				p {
					color: #213b8e;
			    font-family: 'Lato', sans-serif;
			    font-weight: 700;
			    font-size: 24px;
			    margin: 0;
				}
			}
			.right-content {
				padding-right: 5%;
				ul {
			    margin: 15px 0;
			    padding: 0 0 0 20px;
			    text-align: left;
			    list-style-type: disc;
			    li {
			    	text-align: left;
						font-size: 16px;
						font-family: 'Lato', sans-serif;
						font-weight: 400;
			    }
				}
				p {
					font-size: 16px;
					font-family: 'Lato', sans-serif;
					font-weight: 400;
				}
				.subtitle {
				  color: #213b8e;
					font-family: 'Lato', sans-serif;
					font-weight: 400;
					font-size: 14px;
				}
			}
		}
	}
}

.comm-container {
  padding: 60px 0;
  h3 {
		text-align: center;
		font-size: 26px;
		color: #1f398d;
		font-family: 'Lato', sans-serif;
  }
  .icons-com {
  	max-width: 90%;
  	margin: auto;
  }
  .icons-wrapper {
	  display: flex;
	  align-items: center;
	  margin: 35px 0 0;
	  p {
			margin: 0;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 20px;
	  }
	  span {
			font-size: 26px;
			font-family: 'Lato', sans-serif;
			font-weight: bold;
      // color: #1f398d;
      color: #f09b1e;
			margin-right: 25px;
	  }
	  img {
	  	margin-right: 25px;
	  }
	}
	&.third-stack {
		.icons-com {
			max-width: 50%;
		}
	}
}

.gallery-row-framework {
  display: flex;
  align-items: center;
  justify-content: center;
  .gallery-wrapper {
    padding: 10px;
    height: 290px;
    width: 500px;
    &.title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 38%;
      h3 {
        color: #213b8e;
        padding: 0px 60px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
      }
    }
    &.desc {
      flex-basis: 42%;
      p {
        font-size: 15px;
        padding: 0 35px; // line-height: 25px;
        font-family: 'Lato', sans-serif;
      }
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.comm-tabs {
	ul {
		padding: 0 40px;
		list-style: none;
		margin-top: 50px;
	}
	li {
		text-align: center;
	}
	a {
		display: flex;
		color: #000;
		font-size: 13px;
		text-decoration: none;
		align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
		img {
			max-width: 70px;
		}
	}
}

.communities {
	margin: 50px 0;
}

.comm-content {
	h4 {
		color: #213b8e;
		margin-bottom: 20px;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
}

.communities-table {
	box-shadow: 0 0 5px 5px #f0f0f0;
	border-radius: 5px;
	thead {
		border-bottom: 1px solid #a6a6a6;
	}
	td {
		vertical-align: top;
		padding: 30px 50px;
		p {
			margin: 0 0 5px;
			font-size: 13px;
			font-family: 'Lato', sans-serif;
		}
		h5 {
			font-size: 18px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
		}
		&:first-of-type {
			min-width: 300px;
		}
	}
	th {
		padding: 20px 50px 12px;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	}
}

.countdownZero{
	margin: 50px 0;
	.row {
		margin: 0;
	}
	.countdown-content {
		padding-left: 0;
	}
}

.countdown-content{
	img{
		max-width: 85%
	}
	.sun{
		position: absolute;
		right: 20%;
		top: 5%;
		max-width: 95px;
		-webkit-animation: spin 60s infinite;
		animation: spin 60s infinite;
		animation-timing-function: linear;
	}
}

.countdown-text{
	margin: auto;
    padding: 0 50px 0 0;
	h4{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #1e398d;
		font-size: 30px;
	}
	p{
		line-height: 30px;
	}
}

.energyProj-wrapper{
	.parallax{
		height: 500px;
		position: relative;

		.overlay{
			background-color: #000;
			opacity: 0.5;
			z-index: 0;
		}
	}

	.energy-wrapper{
		display: flex;
		align-items: center;
		margin-top: 100px;
		flex-direction: column;
		h4{
			color: #fff;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 30px;
		}
	}
	.energy-infographic-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		.energy-content{
			display: flex;
			flex-direction: column;
			margin: 40px 50px 0px;
			align-items: center;
			img{
				max-width: 110px;
				margin-bottom: 10px;
			}
			.count{
				color: #fff;
				font-family: 'Nunito Sans', sans-serif;
				font-weight: 800;
				font-size: 25px;
			}
			p{
				color: #fff;
				font-family: 'Lato', sans-serif;
			}
		}
	}
}

.ghgEmissions-wrapper{
	.first-stack{
		margin-top: 100px;
		text-align: center;
		h4{
			color: #333333;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 30px;
		}
		p{
			color: #333333;
			font-family: 'Lato', sans-serif;
		}
	}
	.second-stack{
		border-top: 1px solid #d7d7d7;
		margin-top: 50px;
		margin-bottom: 100px;
	}
}

.ghgEmissions-content-wrapper{
	display: flex;
    justify-content: space-evenly;
    margin: 5% 0 0 0;
    align-items: flex-end;
	.ghgEmissions-content{
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		img{
			max-width: 35%;
		}
		.count{
			color: #1e398d;
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 800;
			font-size: 30px;
			margin-top: 30px;
		}
		p{
			color: #333333;
			font-family: 'Lato', sans-serif;
		}
	}
}

.ghgWaste{
	display: flex;
	justify-content: space-evenly;
	margin: 5% 0 0 0;
	align-items: center;
	h4{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 30px;
	}
	.ghgWaste-infographics-wrapper{
		display: flex;
    	align-items: flex-end;
	}
	.ghgWaste-content{
		display: flex;
		align-items: center;
		margin-right: 150px;
		img{
			margin-right: 20px;
		}
		.count{
			color: #e02543;
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 800;
			font-size: 30px;
		}
		p{
			font-family: 'Lato', sans-serif;
		}
	}
}

.environmentalWater-wrapper{
	.parallax{
		height: 600px;
		position: relative;
		.overlay{
			background-color: #000;
			opacity: 0.5;
			z-index: 0;
		}
	}
	.water-content-wrapper{
		position: relative;
		float: right;
		right: 10%;
		top: 20%;
		color: #fff;
		h4{
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 30px;
		}
		.water-content{
			display: flex;
			align-items: flex-start;
			margin-top: 5%;
			.water-content-infographics{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-right: 100px;
				img{
					max-width: 100px;
				}
				.count{
					font-family: 'Nunito Sans', sans-serif;
					font-weight: 800;
					font-size: 30px;
					margin-top: 30px;
				}
				.water-content-olympics{
					text-align: center;
					p{
						margin-top: 10px;
					}
				}
			}
		}
	}
	
}

.guiding-principles {
  background: url(../img/sustainability-framework/guidingprinciple-UN.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  .smic-container {
  	width: 100%;
  }
  .title-container {
	  h5 {
	  	color: #2f822f;
	  	font-size: 26px;
	  	margin: 0;
	  }
	  span {
	  	font-size: 13px;
	  }
  }
  ul {
  	padding: 0;
	  columns: 2;
	  list-style: none;
	  margin: 80px 0 0;
	  li {
	  	break-inside: avoid;
	  	padding-left: 35px;
	  	position: relative;
	  	font-size: 14px;
	  	min-height: 70px;
	  	max-width: 90%;
	  	&::before {
		    content: '';
		    background: url(../img/sustainability-framework/guidingprinciple-check.png) 0 0 no-repeat;
		    display: inline-block;
		    background-size: 20px;
		    width: 30px;
		    height: 22px;
		    position: absolute;
		    left: 0;
		    top: 4px;
	  	}
	  }
  }
}

.sustainability-framework {
	padding: 80px 0;
	.section-header {
		text-align: center;
		p {
			font-size: 15px;
    	line-height: 20px;
		}
	}
}

.sm-sdg {
	.section-body {
		display: flex;
    justify-content: center;
    margin: 40px 0 0;
	}
	.sm-sdg-wrapper {
    margin: 0px 10px;
    text-align: center;
    flex-basis: 15%;
		p {
			font-size: 14px;
			margin: 0;
    	font-weight: bold;
		}
		span {
			font-size: 14px;
		}
		img {
			max-width: 120px;
			margin-bottom: 20px;
		}
	}
}

.reporting-process {
	.section-body {
		display: flex;    
		padding: 0 50px;
	}
	.reporting-card {
		flex-basis: 25%;
		margin: 15px;
		box-shadow: 0 0 5px 5px #f0f0f0;
		border-radius: 5px;
		padding: 30px;
		.count {
			color: #1cb7ec;
			font-size: 60px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			line-height: 42px;
			height: 45px;
			display: inline-block;
		}
		h4 {
			font-size: 18px;
			margin: 10px 0;
		}
		p {
			font-size: 13px;
			line-height: 17px;
		}
	}
	.bottom-content {
		padding-top: 10px;
		border-top: 1px solid #c6c6c6;
		span {
			font-size: 10px;
			display: inline-block;
    	margin-bottom: 10px;
		}
	}
}

.materiality-matrix {
	.section-body {
    text-align: center;
    img.matrix-image {
      width: 100%;
      height: auto;
    }
		.title {
			margin-top: 50px;
			span {
		    font-size: 14px;
		    font-weight: bold;
			}
		}
	}
	ul {
		list-style: none;
		padding: 0;
		columns: 3;
		max-width: 730px;
		margin: 5px auto 0;
		text-align: left;
		li {
			font-size: 14px;
			padding: 10px 0 10px 35px;
			position: relative;
			&::before {
				content: '';
				width: 30px;
				height: 30px;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
			&.ep {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-1-economic.png) no-repeat;
					background-size: cover;
				}
			}
			&.mp {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-2-market.png) no-repeat;
					background-size: cover;
				}
			}
			&.lbr {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-3-labor.png) no-repeat;
					background-size: cover;
				}
			}
			&.cg {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-4-corpgov.png) no-repeat;
					background-size: cover;
				}
			}
			&.ci {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-5-community.png) no-repeat;
					background-size: cover;
				}
			}
			&.es {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-6-envi.png) no-repeat;
					background-size: cover;
				}
			}
			&.deo {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-7-diversity.png) no-repeat;
					background-size: cover;
				}
			}
			&.isc {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-8-supplychain.png) no-repeat;
					background-size: cover;
				}
			}
			&.td {
				&::before {
					background: url(../img/sustainability-framework/keythemes-graph-9-training.png) no-repeat;
					background-size: cover;
				}
			}
		}
	}
}

.topic-boundaries {
	background-color: #f5f5f5;
	table {
		background-color: #FFF;
		box-shadow: 0 0 5px 5px #e6e6e6;
    border-radius: 5px;
    max-width: 80%;
    margin: 50px auto;
    th {
			padding: 20px 40px 12px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
    }
    thead {
    	border-bottom: 1px solid #a6a6a6;
    }
    td {
			vertical-align: top;
			padding: 20px 40px;
			font-size: 14px;
			&:first-of-type {
    		min-width: 280px;
			}
			&:nth-of-type(2) {
				min-width: 320px;
			}
    }
    .divider {
    	border-top: 2px solid #f5f5f5;
    }
	}
}

.economic-impact-wrapper {
	padding: 80px 0;
}

.economic-value {
	.section-header {
		margin-bottom: 50px;
	}
	.section-content {
		max-width: 75%;
		margin: auto;
	}
	.ev-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			max-width: 75%;
		}
		span {
			color: #25b0d4;
	    font-size: 35px;
	    font-family: 'Nunito',sans-serif;
	    font-weight: bold;
	    margin: 10px 0;
		}
		p {
	    font-size: 17px;
	    text-align: center;
	    line-height: 22px;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
		}
	}
	.parallax {
		height: 400px;
	}
}

.page-economic-impact {
	.section-header {
		text-align: center;
		h3 {
			color: #2f832f;
			margin-bottom: 40px;
		}
		p {
			font-size: 18px;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
			margin: 0;
			&.big {
				text-align: center;
		    font-size: 26px;
		    line-height: 32px;
		    font-weight: bold;
			}
		}
	}
	.parallax{
		position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: center;
		.overlay{
	    background-color: #000;
			opacity: 0.45;
			z-index: 0;
		}
	}
	.ei-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 100px;
		min-width: 250px;
		span {
	    font-size: 35px;
	    font-family: 'Nunito',sans-serif;
	    font-weight: bold;
	    margin: 10px 0;
		}
		p {
	    font-size: 17px;
	    text-align: center;
	    line-height: 22px;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
		}
		span,p {
			color: #FFF;
		}
	}
}

.economic-activity {
	.parallax {
		height: 400px;
	}
}

.economic-communities {
	.ei-container {
		margin: 0;
		min-width: 320px;
	}
	.parallax {
		height: 400px;
	}
}

.economic-government {
	.parallax {
		height: 400px;
		img {
			width: 100px;
		}
	}
}

.economic-shareholders {
	.parallax {
		height: 400px;
	}
}

.bdo-sustainability {
	.section-header {
		padding: 80px;
		text-align: center;
		h3 {
			margin-bottom: 15px;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 26px;
		}
		p {
			font-size: 14px;
			margin: 0;
			line-height: 18px;
		}
	}
	.parallax{
		height: 500px;
		position: relative;
	  display: flex;
	  align-items: center;
	  justify-content: center;
		.overlay{
	    background-color: #000;
			opacity: 0.45;
			z-index: 0;
		}
	}
	.ei-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 25px;
		span {
	    font-size: 30px;
	    font-family: 'Nunito',sans-serif;
	    font-weight: bold;
	    margin: 10px 0;
		}
		p {
			font-size: 14px;
			text-align: center;
			line-height: 18px;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
		}
		span,p {
			color: #FFF;
		}
	}
	.bdo-map {
		text-align: center;
		padding: 80px;
		h4 {
			margin-bottom: 50px;
	    font-family: 'Lato', sans-serif;
	    font-weight: 700;
	    font-size: 26px;
		}
		img {
			width: 100%;
	    max-width: 70%;
	    margin: auto;
		}
	}
}


.table-key {
	max-width: 80%;
	margin: 50px 50px 60px auto;
	position: relative;
	table {
		position: relative;
		width: 100%;
		&::before,&::after {
			content: '';
			display: block;
			position: absolute;
		}
		&::before {
			border-bottom: 12px solid #67b9ce;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			top: -12px;
			left: -6px;
		}
		&::after {
			border-left: 12px solid #67b9ce;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
		  bottom: -6px;
		  right: -13px;
		}
	}
	td {
    padding: 26px;
    border: 2px solid #EBEBEB;
    &:first-of-type {
    	border-left: 3px solid #67B9CE;
    }
	}
	tr {
		&:last-of-type {
			td {
	    	border-bottom: 3px solid #67B9CE;
			}
		}
	}
	span {
		text-transform: uppercase;
		font-family: 'Nunito', sans-serif;
		font-weight: 700;
		font-size: 14px;
	  position: absolute;
		&.low-mid {
	    left: -50px;
	    bottom: -30px;
		}
		&.high-up {
			left: -50px;
			top: 0;
		}
		&.high-right {
	    right: 0;
	    bottom: -30px;
		}
	}
	p {
		font-size: 12px;
		font-family: 'Nunito', sans-serif;
		position: absolute;
    height: 38px;
		&.left-content {
	    left: -185px;
	    top: 0;
	    bottom: 0;
	    margin: auto;
		}
		&.bottom-content {
			left: 0;
			right: 0;
			bottom: -48px;
			margin: auto;
			text-align: center;
		}
	}
	.key-icons {
		& > div {
			width: 50px;
			height: 50px;
			text-indent: -9999px;
			position: absolute;
		}
		.ep {
			background: url(../img/sustainability-framework/keythemes-graph-1-economic.png) no-repeat;
			background-size: cover;
			left: 94.5%;
			bottom: 88%;
		}
		.mp {
			background: url(../img/sustainability-framework/keythemes-graph-2-market.png) no-repeat;
			background-size: cover;
			left: 90%;
			bottom: 69%;
		}
		.lbr {
			background: url(../img/sustainability-framework/keythemes-graph-3-labor.png) no-repeat;
			background-size: cover;
			left: 80.5%;
			bottom: 82%;
		}
		.cg {
			background: url(../img/sustainability-framework/keythemes-graph-4-corpgov.png) no-repeat;
			background-size: cover;
			left: 85%;
			bottom: 57%;
		}
		.ci {
			background: url(../img/sustainability-framework/keythemes-graph-5-community.png) no-repeat;
			background-size: cover;
			left: 63.5%;
			bottom: 75%;
		}
		.es {
			background: url(../img/sustainability-framework/keythemes-graph-6-envi.png) no-repeat;
			background-size: cover;
			left: 71%;
			bottom: 57%;
		}
		.deo {
			background: url(../img/sustainability-framework/keythemes-graph-7-diversity.png) no-repeat;
			background-size: cover;
			left: 55%;
			bottom: 50%;
		}
		.isc {
			background: url(../img/sustainability-framework/keythemes-graph-8-supplychain.png) no-repeat;
			background-size: cover;
			left: 43%;
			bottom: 45%;
		}
		.td {
			background: url(../img/sustainability-framework/keythemes-graph-9-training.png) no-repeat;
			background-size: cover;
			left: 30.5%;
			bottom: 32%;
		}
	}
}

.rotating-diagram {
	position: relative;
	.rd-wrapper {
		height: 90vh;
		display: flex;
		align-items: center;
		position: relative;
		background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .overlay {
    	opacity: 0.8;
    }
    .smic-container {
    	z-index: 3;
    }
    .content {
      text-align: center;
      margin-left: 290px;
    	a {
				color: #FFF;
				border: 1px solid #FFF;
				padding: 6px 20px;
				display: inline-block;
				text-decoration: none;
				margin-bottom: 12px;
    	}
    	h3 {
        color: #FFF;
        font-size: 32px;
    	}
    }
	}
	.economic-impact {
		position: sticky;
		position: -webkit-sticky; /* Safari */
		height: 90vh;
		width: 35%;
		margin-left: -150px;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 12%;
		transform: rotate(0);
		.circle-mid {
			position: absolute;
	    width: 130px;
	    height: 130px;
	    background-color: #FFF;
      right: 0;
      left: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    border-radius: 50%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
	    font-weight: bold;
			font-size: 20px;
			line-height: 24px;
      font-family: 'Nunito', sans-serif;
      z-index: 1;
		}
		& > svg {
	    width: 90%;
			@extend .transition;
		}
		// XMLID_323_ = social
		// XMLID_349_ = environmental 
		// XMLID_350_ = Governance 

		// Text
		// XMLID_11_ = Our Operations
		// XMLID_6_  = Our Host Communities
		// XMLID_8_  = Our People
		// XMLID_9_  = Our Business Partners
		// XMLID_10_ = Our Corporate Governance
		&.rotate-env {
			svg {
				transform: rotate(0deg);
				#XMLID_350_,
				#XMLID_323_ {
					opacity: 0.5;
					@extend .transition;
				}
			}
		}
		&.rotate-soc {
			svg {
				transform: rotate(-110deg);
				#XMLID_350_,
				#XMLID_349_ {
					opacity: 0.5;
					@extend .transition;
				}
				#XMLID_11_ {
					transform: rotate(110deg) translate(25px, -580px);
				}
				#XMLID_6_ {
					transform: rotate(110deg) translate(225px, -680px);
				}
				#XMLID_8_ {
			    transform: rotate(110deg) translate(375px, -510px);
				}
				#XMLID_9_ {
					transform: rotate(110deg) translate(275px, -310px);
				}
				#XMLID_10_ {
			    transform: rotate(110deg) translate(75px, -350px);
				}
			}
		}
		&.rotate-gov {
			svg {
				transform: rotate(-220deg);
				#XMLID_323_,
				#XMLID_349_ {
					opacity: 0.5;
					@extend .transition;
				}
				#XMLID_11_ {
					transform: rotate(220deg) translate(-555px, 170px);
				}
				#XMLID_6_ {
					transform: rotate(220deg) translate(-785px, -30px);
				}
				#XMLID_8_ {
			    transform: rotate(220deg) translate(-685px, -210px);
				}
				#XMLID_9_ {
					transform: rotate(220deg) translate(-465px, -220px);
				}
				#XMLID_10_ {
			    transform: rotate(220deg) translate(-365px, -10px);
				}
			}
		}
	}
	.our-sustainability {
		background-color: #27a5ce;
		.row {
			align-items: center;
		}
		.right-content {
			padding: 0 110px 0 50px;
		}
		.left-content {
	    padding-left: 280px;
	    h2 {
	    	// max-width: 70%;
		    font-size: 30px;
        color: #FFF;
        max-width: 0;
        margin-left: 250px;
        font-size: 50px;
	    }
		}
	}
	.environmental {
		.overlay {
			background-color: #27a5ce;
		}
	}
	.social {
		.overlay {
			background-color: #2d912d;
		}
	}
	.governance {
		.overlay {
			background-color: #4e67bb;
		}
	}
	p {
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    line-height: 28px;
    font-weight: 100;
    font-size: 21px;
	}
}

.sustainability-report {
	padding: 100px 0 30px;
	border-bottom: 3px solid #f5f5f5;
	.reports-wrapper {
		margin-bottom: 30px;
		.thumb-wrapper {
			border-radius: 10px;
			overflow: hidden;
			position: relative;
		}
		img {
			width: 100%;
			height: auto;
		}
		p {
			color: #1CB7EB;
			font-size: 16px;
			line-height: 20px;
			font-family: 'Nunito', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			max-width: 80%;
			text-align: center;
			margin: 18px auto;
		}
		.arrow-link {
			background: url(../img/thumb-arrow.png) center no-repeat;
			background-size: 25px;
			display: inline-block;
			width: 30px;
			height: 30px;
			background-color: #FFF;
			border-radius: 100%;
			padding: 25px;
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
	}
}

#Layer_2 {}


.smic-footer {
  background-image: url(../img/footer-ar-background.jpg);
  background-size: cover;
  height: 220px;
  width: 100%;
  position: relative;
  .smic-footer-top {
  	height: 100%;
    width: 100%;
    .smic-overlay {
			background-color: rgba(0, 0, 0, 0.7);
			z-index: 1;
			width: 100%;
			height: 100%;
    }
    .ar-download-container {
    	margin-right: 5%;
	    margin-left: 5%;
	    width: 90%;
	    padding: 30px 0;
	    position: absolute;
	    bottom: 0;
	    height: 100%;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    justify-content: space-between;
	    .btt {
				height: auto;
				width: 50px;
				position: absolute;
				right: 0;
				top: -30px;
				cursor: pointer;
	    }
	    h2 {
	    	color: #FFF;
	    }
	    .ar-download-button {
	    	border: 2px solid white;
		    padding: 10px 30px;
		    border-radius: 10px;
		    margin: -27px 0;
		    font-size: 17px;
		    .ar-download-button-link {
					text-decoration: none;
					color: white;
					text-transform: uppercase;
					img {
						width: 12%;
						margin-right: 10px;
					}
		    }
	    }
    }
  }
  .smic-footer-bottom {
  	width: 100%;
    height: auto;
    background-color: #182657;
	  .smic-footer-bottom-container {
			max-width: 90%;
			margin: auto;
			max-width: 100%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			padding: 40px 0;
			.smic-fb-left {
				display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-box-pack: center;
		    -webkit-justify-content: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    padding-left: 5%;
		    width: 100%;
		    img {
					width: 160px;
					margin-bottom: 40px;
		    }
			}
			.smic-fb-right {
				-webkit-flex-basis: 20%;
				-ms-flex-preferred-size: 20%;
				flex-basis: 20%;
				.smic-fb-navlink {
					ul {
						margin: 0;
				    list-style-type: none;
				    padding: 0;
				    li {
				    	margin: 5px 0;
				    	a {
				    		 color: white;
				    	}
				    }
					}
				}
			}
			p {
				max-width: 80%;
			}
	  }
		.smic-footer-contact {
			max-width: 90%;
	    margin: auto;
	    background-color: #333f69;
	    padding: 25px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    .smic-fc-content {
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-basis: 100%;
				-ms-flex-preferred-size: 100%;
				flex-basis: 100%;
				-webkit-box-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
				margin: 0 20px;
				img {
					margin-right: 10px;
			    width: 18px;
			    height: auto;
			    -o-object-fit: cover;
			    object-fit: cover;
				}
				p {
					color: white;
					margin: 0;
				}
				a {
					color: white;
				}
	    }
		}
		.smic-footer-social {
			max-width: 90%;
	    margin: auto;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    padding: 40px 0;
	    .smic-copyright {
	    	p {
	    		color: #69718d;
	    	}
	    }
	    .smic-socialmedia {
	    	display: inline-flex;
	    	a {
  		    margin: 0 10px;
  		    &:last-of-type {
  		    	margin: 0;
  		    }
  		    img {
						height: auto;
						width: 50px;
  		    }
	    	}
	    }
		}
  }
}

@media screen and (max-width: 1366px) {
  .rotating-diagram .our-sustainability .left-content h2 {
    margin-left: 0;
  }
}

// art
.page-node-sustainable-stories {
  .sustainable-stories {
    .sustainable-stories-filter {
      display: flex;
      justify-content: flex-end;
      .filters {
        flex-basis: 50%;
        max-width: 50%;
        display: flex;
        margin-top: 80px;
        justify-content: flex-end;
        .category {
          display: block;
          margin-right: 20px;
          width: 30%;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        .year {
          @extend .category;
          width: 10%;
        }
        .searchBtn {
          margin: 0;
          background-color: #0e2987;
          color: white;
          padding: 10px 40px;
          font-family: "Lato", sans-serif;
          font-weight: 700;
          border-radius: 5px;
        }
      }
    }
    .sustainable-stories-wrapper {
      padding: 40px 0;
      display: flex;
      justify-content: center;
      .sustainable-stories-item {
        margin: 20px;
        border: 1px solid rgba(128, 128, 128, 0.507);
        padding-left: 0;
        flex-basis: 30%;
        max-width: 30%;
        padding-right: 0;
        position: relative;
        &>img {
          height: 50%;
          width: 100%;
          object-fit: cover;
        }
        &>h2 {
          color: #213b8e;
          font-family: 'Lato', sans-serif;
          font-weight: normal;
          margin: 20px 0;
          font-size: 25px;
          padding-left: 15px;
          padding-right: 15px;
        }
        &>p {
          font-size: 15px;
          font-family: 'Lato', sans-serif;
          padding-left: 15px;
          padding-right: 15px;
        }
        .sustainable-stories-foot {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-left: 15px;
          padding-right: 15px;
          &>a {
            img {
              height: auto;
              width: 60px;
            }
          }
        }
      }
    }
    .story-inside-container {
      display: flex;
      margin: 80px 0;
      .inside-content {
        // border-bottom: 1px solid rgba(138, 138, 138, 0.525);
        h2 {
          margin: 0;
          color: #0e2987;
        }
        .inside-content-bottom {
          display: flex;
          border-bottom: 1px solid rgba(138, 138, 138, 0.525);
          margin-top: 15px;
          padding-bottom: 15px;
          justify-content: space-between;
          p {
            color: #0e2987;
            margin: 0;
          }
          .social_media_button {
            a {
              img {
                width: 30px;
                height: auto;
              }
            }
          }
        }
        .stories-main-content {
          padding: 2em 0;
        }
      }
      .inside-other-stories {
        margin: 0;
        padding-bottom: 20px;
        &>h2 {
          font-family: "Lato", sans-serif;
          font-weight: 900;
          color: #0e2987;
          font-size: 18px;
          text-transform: uppercase;
        }
        .other-stories-content {
          .other-stories-item {
            border-top: 1px solid rgba(138, 138, 138, 0.525);
            padding: 10px 0;
            &:last-of-type {
              border-bottom: 1px solid rgba(138, 138, 138, 0.525);
            }
            &>a {
              padding: 0;
              color: #8a8a8a;
              font-family: "Lato",sans-serif;
              text-decoration: none;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
              font-weight: 700;
            }
            &>p {
              padding: 0;
              color: #8a8a8a;
              font-family: "Lato", sans-serif;
              text-decoration: none;
              -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
              font-weight: 500;
              margin: 0;
            }
          }
        }
        .backbtn {
          margin-top: 30px;
          .other-stories-back {
            background-color: #0e2987;
            padding: 10px 40px;
            border-radius: 10px;
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.social-change {
  .second-stack {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 100px;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
    &>img {
      height: auto;
      width: 70%;
    }
  }
}

#socialImpact {
  height: 25px;
  overflow: hidden;
  transition: all 0.5s ease;
  &.oops {
    height: 100px;
  }
}

.socsecstyle {
  margin-bottom: 50px;
  font-family: 'Lato',
  sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.kowt {
  margin-top: 1.5em;
}

.eduone {
  display: flex;
  flex-direction: column;
  &>img {
    height: auto;
    width: 60%;
    margin: auto;
  }
  .sm-section-1 {
    text-align: left;
    background-color: white;
    height: auto;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f09b1e;
      height: 3px;
      bottom: -10px;
    }
    &>h3 {
      font-size: 22px;
      margin: 0;
      background-color: #f09b1e;
      color: white;
      padding: 10px;
      display: inline;
    }
  }
}

.sm-section-2 {
  text-align: left;
  background-color: white;
  height: auto;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f09b1e;
    height: 3px;
    bottom: -10px;
  }

  &>h3 {
    font-size: 22px;
    margin: 0;
    background-color: #f09b1e;
    color: white;
    padding: 10px;
    display: inline;
  }
}

.farmersinfograph {
  display: flex;
  justify-content: center;
}

.healthcareinfo {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &>img {
    width: 50%;
  }
}