@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800");
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes move {
  from {
    left: 25%;
  }
  to {
    left: 70%;
  }
}
@keyframes moveTwo {
  from {
    left: 12%;
  }
  to {
    left: 52%;
  }
}
@keyframes upDown {
  from {
    top: -80px;
  }
  to {
    top: -81px;
  }
}
.smic-container {
  max-width: 90%;
  margin: auto;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.45;
  z-index: 1;
  top: 0;
}

.arrow-down {
  background: url(../img/down-chevron.png);
  display: inline-block;
  background-size: 100%;
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 15%;
  left: 5%;
}

.arrow-down-grey {
  background: url(../img/down-chevron-grey.png);
  display: inline-block;
  background-size: 100%;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10%;
  left: 0;
  right: 0;
  margin: auto;
}

.transition, .smic-header nav, .smic-header .navbar-brand img, .rotating-diagram .economic-impact > svg, .rotating-diagram .economic-impact.rotate-env svg #XMLID_350_,
.rotating-diagram .economic-impact.rotate-env svg #XMLID_323_, .rotating-diagram .economic-impact.rotate-soc svg #XMLID_350_,
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_349_, .rotating-diagram .economic-impact.rotate-gov svg #XMLID_323_,
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_349_ {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.carousel .carousel-item {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .carousel-caption {
  left: 5%;
  right: auto;
  text-align: left;
  bottom: 20%;
  max-width: 50%;
  font-family: 'Lato', sans-serif;
  font-weight: regular;
  font-size: 16px;
}
.carousel .carousel-caption h2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
}

.smic-header.scroll nav {
  background-color: #FFF;
}
.smic-header.scroll .navbar-brand img {
  -webkit-filter: brightness(1) invert(0);
  filter: brightness(1) invert(0);
}
.smic-header.scroll .nav-item .nav-link {
  color: #000;
}
.smic-header nav {
  padding: 0 5%;
}
.smic-header .navbar-brand img {
  width: 168px;
  height: auto;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.sidebar-nav {
  position: absolute;
  bottom: 15%;
  right: 5%;
}
.sidebar-nav ul {
  padding: 0;
  list-style: none;
  text-align: right;
}
.sidebar-nav li {
  margin: 10px 0;
}
.sidebar-nav li.active > a, .sidebar-nav li:hover > a {
  border-color: #FFF;
}
.sidebar-nav a {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
  display: inline-block;
  border-right: 2px solid transparent;
}

.navbar-collapse .nav-item:last-of-type {
  margin-right: 0;
}
.navbar-collapse .nav-item .nav-link {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 30px 15px;
}
.navbar-collapse .nav-item .nav-link:hover, .navbar-collapse .nav-item .nav-link.active, .navbar-collapse .nav-item .nav-link:focus {
  background-color: #0e2987;
  color: #FFF;
}
.navbar-collapse .nav-item.dropdown .dropdown-menu {
  left: 0;
  right: auto;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #0e2987;
  border-radius: 0;
  margin: 0;
  border-bottom: 5px solid transparent;
}
.navbar-collapse .nav-item.dropdown .dropdown-menu a {
  padding: 0;
  margin: 20px 0;
  padding: 0 15px;
  color: #FFF !important;
  font-size: 14px;
  background-color: transparent !important;
}
.navbar-collapse form {
  position: relative;
  width: 100%;
  margin: 23px 15px 23px 0;
  height: 34px;
  padding-left: 10px;
}
.navbar-collapse form input {
  margin: 0;
  border-radius: 5px;
  width: 190px;
  font-size: 14px;
}
.navbar-collapse form button {
  background: url(../img/search.png) center no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 0;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
}

.path-to-sg {
  padding: 50px 0;
  text-align: center;
  border-bottom: 2px solid #E3E3E3;
}
.path-to-sg h3 {
  color: #2e822f;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.path-to-sg p {
  font-family: 'Lato', sans-serif;
}
.path-to-sg .section-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 70px 0 30px;
}

.path-sg-wapper {
  position: relative;
  text-decoration: none !important;
}
.path-sg-wapper span {
  color: #E3E3E3;
  position: absolute;
  font-size: 70px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
.path-sg-wapper p {
  color: #000;
  font-size: 14px;
  max-width: 120px;
  line-height: 16px;
  min-height: 50px;
  margin: 15px auto;
  font-family: 'Lato', sans-serif;
}
.path-sg-wapper.sm-malls {
  margin-right: 50px;
}
.path-sg-wapper.sm-malls span {
  top: -65px;
}
.path-sg-wapper.sm-malls img {
  max-width: 150px;
}
.path-sg-wapper.economic-opportunities span {
  top: -75px;
  left: 48px;
}
.path-sg-wapper.economic-opportunities img {
  max-width: 100px;
}
.path-sg-wapper.environmental-responsibility span {
  left: 6px;
  top: -70px;
}
.path-sg-wapper.environmental-responsibility img {
  max-width: 80px;
}
.path-sg-wapper.community-impact span {
  top: -74px;
  left: 32px;
}
.path-sg-wapper.community-impact img {
  max-width: 50px;
}
.path-sg-wapper.sustainable-growth span {
  top: -50px;
  left: 25px;
}
.path-sg-wapper.sustainable-growth img {
  max-width: 100px;
}

.sm-malls-wrapper .path-title {
  position: relative;
  display: flex;
  align-items: center;
}
.sm-malls-wrapper .path-title span {
  font-size: 200px;
  color: #e7e7e7;
  height: 145px;
  line-height: 125px;
  align-self: flex-end;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.sm-malls-wrapper .path-title h4 {
  font-size: 35px;
  margin-left: -50px;
  margin-top: 15%;
  max-width: 250px;
  color: #25afd4;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.sm-malls-wrapper .path-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.sm-malls-wrapper .path-content img {
  max-width: 80%;
}
.sm-malls-wrapper .path-content .sun {
  position: absolute;
  top: -6%;
  left: 22%;
  width: 85px;
  -webkit-animation: spin 60s infinite;
  /* Safari 4.0 - 8.0 */
  animation: spin 60s infinite;
  animation-timing-function: linear;
}
.sm-malls-wrapper .first-stack {
  padding: 80px 0 50px;
}
.sm-malls-wrapper .second-stack {
  padding: 20px 0 80px;
}
.sm-malls-wrapper .second-stack .map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sm-malls-wrapper .second-stack .map img {
  max-width: 60%;
}
.sm-malls-wrapper .second-stack .right-content {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
}
.sm-malls-wrapper .second-stack .right-content .supply-chain {
  margin-top: auto;
  display: flex;
  align-items: center;
  border-top: 2px solid #e1e1e1;
  padding-top: 30px;
  max-width: 70%;
}
.sm-malls-wrapper .second-stack .right-content .supply-chain .count {
  color: #894bb7;
  font-size: 30px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}
.sm-malls-wrapper .second-stack .right-content .supply-chain img {
  margin-right: 50px;
  width: 180px;
  height: auto;
}
.sm-malls-wrapper .second-stack .right-content .count {
  color: #25afd3;
  font-size: 45px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}
.sm-malls-wrapper .second-stack .right-content p strong {
  display: block;
}

.cultivating-culture {
  padding: 80px 0 50px;
}
.cultivating-culture .culture-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cultivating-culture .culture-text h4 {
  color: #1e398d;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.cultivating-culture .culture-text p {
  font-display: 'Lato', sans-serif;
  line-height: 30px;
}

.best-companies-to-work {
  height: 350px !important;
  position: relative;
}
.best-companies-to-work .overlay {
  background-color: #25b0d4 !important;
  opacity: 0.7 !important;
}
.best-companies-to-work .row {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  right: 5%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
.best-companies-to-work p {
  color: #FFF;
  text-align: center;
  margin: 0;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}
.best-companies-to-work .col p {
  color: #FFF;
  text-align: center;
  margin: 0;
  font-size: 35px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 0;
}
.best-companies-to-work .third-icon-jobst {
  height: 30px;
}
.best-companies-to-work .third-icon-forbes {
  height: 45px;
  margin: 0 0 -30px 0;
}

.employees-glance .first-stack {
  display: flex;
}
.employees-glance .first-stack p {
  text-align: center;
}
.employees-glance .first-stack .total-employees {
  display: flex;
  align-items: center;
  margin: 40px 0 0;
  justify-content: center;
}
.employees-glance .first-stack .total-employees img {
  margin-right: 20px;
  max-width: 25%;
}
.employees-glance .first-stack .total-employees span {
  font-size: 45px;
  color: #1e398d;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.employees-glance .first-stack .total-employees-count p {
  text-align: left;
  font-weight: bold;
  margin: -10px 0 0;
}
.employees-glance .first-stack .employees-glance-caption {
  margin: 2em auto;
  max-width: 60%;
  font-size: 13px;
}
.employees-glance .second-stack {
  margin: 0 100px;
  padding: 80px 0;
}
.employees-glance .second-stack .employees-glance-title {
  text-align: left;
  margin-right: 4%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding-left: 5%;
}
.employees-glance .second-stack .eg-bycompany {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.employees-glance .second-stack .eg-bycompany img {
  max-width: 200px;
  margin-bottom: 30px;
}
.employees-glance .second-stack .eg-bycompany p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.employees-glance .second-stack .eg-bycompany span {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
}
.employees-glance .second-stack .eg-bycompany span.eg-smretail {
  color: #1e398d;
}
.employees-glance .second-stack .eg-bycompany span.eg-bdo {
  color: #46a4dc;
}
.employees-glance .second-stack .eg-bycompany span.eg-smprime {
  color: #46c3e1;
}
.employees-glance .second-stack .eg-bycompany span.eg-cbsmic {
  color: #92d7eb;
}
.employees-glance .third-stack {
  background-color: #f3f3f3;
  margin-bottom: 30px;
}
.employees-glance .third-stack .gender-age-wrapper {
  padding: 50px 0;
}
.employees-glance .third-stack .gender-age-wrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.employees-glance .third-stack .gender-age-wrapper > div > p {
  font-weight: bold;
}
.employees-glance .third-stack .graph-container {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
  align-self: flex-end;
}
.employees-glance .third-stack .graph-wrapper {
  margin: 0 10px;
  text-align: center;
}
.employees-glance .third-stack .graph-wrapper .bar-graph {
  border-radius: 5px;
  width: 70px;
  color: #FFF;
  padding-top: 5px;
}
.employees-glance .third-stack .graph-wrapper.female .bar-graph {
  height: 160px;
  background-color: #c55bc0;
}
.employees-glance .third-stack .graph-wrapper.male .bar-graph {
  height: 95px;
  background-color: #1f398e;
}
.employees-glance .third-stack .graph-wrapper.under-thirty .bar-graph {
  height: 140px;
  background-color: #1f398e;
}
.employees-glance .third-stack .graph-wrapper.thirty-to-fifty .bar-graph {
  height: 80px;
  background-color: #46a3dc;
}
.employees-glance .third-stack .graph-wrapper.over-fifty .bar-graph {
  height: 40px;
  background-color: #46c3e1;
}
.employees-glance .third-stack .graph-wrapper span {
  font-size: 12px;
  font-weight: bold;
}
.employees-glance .fourth-stack {
  padding: 50px 0;
}
.employees-glance .fourth-stack .eg-byregion-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.employees-glance .fourth-stack .eg-byregion-wrapper img {
  max-width: 50%;
  width: 100%;
}
.employees-glance .fourth-stack .eg-region-text p {
  font-weight: bold;
  font-size: 18px;
}
.employees-glance .fourth-stack .region-colors {
  list-style: none;
}
.employees-glance .fourth-stack .region-circles {
  position: relative;
  margin: 25px 0;
}
.employees-glance .fourth-stack .region-circles::before {
  content: '';
  width: 25px;
  height: 25px;
  background-color: grey;
  position: absolute;
  left: -40px;
  display: block;
  border-radius: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}
.employees-glance .fourth-stack .region-circles.luzon::before {
  background-color: #1f398e;
}
.employees-glance .fourth-stack .region-circles.visayas::before {
  background-color: #46a3dc;
}
.employees-glance .fourth-stack .region-circles.mindanao::before {
  background-color: #46c3df;
}
.employees-glance .fourth-stack .region-circles.outside-phil::before {
  background-color: #93d7ec;
}
.employees-glance .fifth-stack.parallax {
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.employees-glance .fifth-stack.parallax .overlay {
  background-color: #00045d;
  opacity: 0.7;
  z-index: 0;
}
.employees-glance .fifth-stack .smic-container {
  z-index: 1;
}
.employees-glance .fifth-stack .top-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.employees-glance .fifth-stack .bottom-content {
  text-align: center;
  max-width: 80%;
  margin: 60px auto 20px;
}
.employees-glance .fifth-stack .bottom-content p {
  color: #FFF;
  line-height: 34px;
  font-size: 16px;
}
.employees-glance .fifth-stack .emp-wrapper {
  text-align: center;
  color: #FFF;
  margin: 0 50px;
  flex-basis: 25%;
}
.employees-glance .fifth-stack .emp-wrapper .count {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.employees-glance .fifth-stack .emp-wrapper p {
  font-size: 16px;
  line-height: 20px;
}

.sixth-stack {
  padding: 50px 0;
}
.sixth-stack .avh-wrapper {
  max-width: 65%;
  margin: auto;
}
.sixth-stack .avh-wrapper h4 {
  text-align: center;
}
.sixth-stack .section-content {
  margin-top: 50px;
}
.sixth-stack .top-content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a7a7a7;
}
.sixth-stack .content-wrapper {
  flex-basis: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.sixth-stack .content-wrapper .content-info {
  margin-left: 10px;
}
.sixth-stack .content-wrapper img {
  max-width: 25%;
  width: 100%;
}
.sixth-stack .content-wrapper span {
  font-size: 26px;
}
.sixth-stack .content-wrapper p {
  font-weight: 600;
  margin: -7px 0 0;
  font-size: 14px;
}
.sixth-stack .per-female-employee span {
  color: #c45abe;
}
.sixth-stack .per-male-employee span {
  color: #56aade;
}
.sixth-stack .per-employee {
  flex-direction: column;
  text-align: center;
  border-right: 1px solid #a7a7a7;
  margin-right: 50px;
}
.sixth-stack .per-employee span {
  font-size: 32px;
  color: #1e398c;
}
.sixth-stack .per-employee p {
  font-size: 16px;
}
.sixth-stack .per-employee img {
  max-width: 20%;
  width: 100%;
}
.sixth-stack .per-employee .content-info {
  margin-top: 10px;
}
.sixth-stack .bottom-content {
  margin: 50px 0 0;
}
.sixth-stack .per-employee-bottom {
  text-align: center;
}
.sixth-stack .per-employee-bottom span {
  font-size: 26px;
}
.sixth-stack .per-employee-bottom p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.seventh-stack {
  position: relative;
  padding: 100px 0;
}
.seventh-stack .overlay {
  background-color: #000;
  opacity: 0.7;
  z-index: 0;
}
.seventh-stack .left-content img {
  max-width: 30%;
  margin-bottom: 15px;
}
.seventh-stack .awards-wrapper p {
  color: #FFF;
  font-size: 14px;
  line-height: 26px;
}
.seventh-stack .right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.seventh-stack .right-content p {
  line-height: 20px;
}
.seventh-stack .right-content span {
  display: block;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 10px 0;
}

.economic-opportunities-wrapper .first-stack {
  padding: 80px 0 50px;
}
.economic-opportunities-wrapper .second-stack img {
  max-width: 68%;
}
.economic-opportunities-wrapper .path-title {
  position: relative;
  display: flex;
  align-items: center;
}
.economic-opportunities-wrapper .path-title span {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 250px;
  color: #e7e7e7;
  height: 165px;
  line-height: 125px;
  align-self: flex-end;
}
.economic-opportunities-wrapper .path-title h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-left: -6%;
  margin-top: 20%;
  max-width: 350px;
  color: #F19D28;
}
.economic-opportunities-wrapper .path-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.economic-opportunities-wrapper .path-content .title {
  font-size: 28px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.economic-opportunities-wrapper .path-content .facilitate-development-container {
  display: flex;
}
.economic-opportunities-wrapper .path-content .facilitate-wrapper {
  display: flex;
  justify-content: center;
}
.economic-opportunities-wrapper .path-content .facilitate-wrapper img {
  max-width: 23%;
  align-self: flex-start;
  margin-top: 12px;
}
.economic-opportunities-wrapper .path-content .facilitate-info {
  margin-left: 20px;
}
.economic-opportunities-wrapper .path-content .facilitate-count {
  font-size: 35px;
  color: #F19D28;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.economic-opportunities-wrapper .path-content .facilitate-desc {
  max-width: 170px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.environmental-responsibility-wrapper .first-stack {
  padding: 150px 0;
}
.environmental-responsibility-wrapper .second-stack {
  height: 350px;
  position: relative;
}
.environmental-responsibility-wrapper .second-stack .overlay {
  background-color: #2e822f;
  opacity: 0.7;
}
.environmental-responsibility-wrapper .second-stack .trees {
  max-width: 300px;
  position: absolute;
  top: -80px;
  left: 20px;
}
.environmental-responsibility-wrapper .second-stack .moving-truck {
  position: absolute;
  top: -80px;
  max-width: 150px;
  left: 25%;
}
.environmental-responsibility-wrapper .second-stack .moving-truck.move {
  -webkit-animation: move 8s, upDown 1s linear infinite;
  /* Safari 4.0 - 8.0 */
  animation: move 8s, upDown 1s linear infinite;
  animation-fill-mode: forwards;
}
.environmental-responsibility-wrapper .second-stack .factory {
  max-width: 250px;
  position: absolute;
  top: -128px;
  right: 8px;
}
.environmental-responsibility-wrapper .second-stack .row {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.environmental-responsibility-wrapper .second-stack .grf-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.environmental-responsibility-wrapper .second-stack .grf-main-wrapper .title {
  color: #FFF;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.environmental-responsibility-wrapper .second-stack .grf-container {
  flex-direction: row;
  display: flex;
}
.environmental-responsibility-wrapper .second-stack .grf-container .count, .environmental-responsibility-wrapper .second-stack .grf-container p {
  color: #FFF;
  font-family: 'Lato', sans-serif;
}
.environmental-responsibility-wrapper .second-stack .grf-container .count {
  font-size: 35px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.environmental-responsibility-wrapper .second-stack .grf-wrapper {
  text-align: center;
  margin: 15px 120px;
}
.environmental-responsibility-wrapper .third-stack {
  padding: 100px 0;
  display: flex;
}
.environmental-responsibility-wrapper .third-stack .path-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.environmental-responsibility-wrapper .third-stack .path-left h5 {
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.environmental-responsibility-wrapper .third-stack .path-left .count {
  font-size: 35px;
  color: #0eacd3;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.environmental-responsibility-wrapper .third-stack .path-left p {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.environmental-responsibility-wrapper .third-stack .path-left .rc-wrapper {
  text-align: center;
  margin: 25px 0;
}
.environmental-responsibility-wrapper .third-stack .path-right {
  width: 60%;
  position: relative;
}
.environmental-responsibility-wrapper .third-stack .path-right img {
  width: 100%;
  height: auto;
}
.environmental-responsibility-wrapper .third-stack .path-right img.sun {
  position: absolute;
  top: 0%;
  left: 4%;
  width: 90px;
  -webkit-animation: spin 60s infinite;
  /* Safari 4.0 - 8.0 */
  animation: spin 60s infinite;
  animation-timing-function: linear;
}
.environmental-responsibility-wrapper .path-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.environmental-responsibility-wrapper .path-title span {
  font-size: 250px;
  color: #e7e7e7;
  height: 165px;
  line-height: 125px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.environmental-responsibility-wrapper .path-title h4 {
  font-size: 35px;
  margin-left: -1.75%;
  margin-top: -4%;
  max-width: 350px;
  color: #2e822f;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.positive-community-wrapper .parallax {
  height: 100vh;
  position: relative;
}
.positive-community-wrapper .parallax .overlay {
  background-color: #3e58b4;
  opacity: 0.85;
  z-index: 0;
}
.positive-community-wrapper .path-title {
  z-index: 1;
  top: 200px;
}
.positive-community-wrapper .path-title span {
  font-size: 250px;
  color: #344d9f;
  height: 165px;
  line-height: 125px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.positive-community-wrapper .path-title h4 {
  font-size: 35px;
  margin-left: 21%;
  margin-top: -33%;
  max-width: 350px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.positive-community-wrapper .second-stack .pos-com-infographics {
  display: flex;
  justify-content: space-evenly;
  margin: 18% 0 0 0;
}
.positive-community-wrapper .second-stack .pos-com-wrapper {
  text-align: center;
}
.positive-community-wrapper .second-stack .pos-com-wrapper h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #fff;
  margin-top: 10px;
  font-size: 40px;
}
.positive-community-wrapper .second-stack .pos-com-wrapper img {
  max-width: 70px;
}
.positive-community-wrapper .second-stack .pos-com-wrapper p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.positive-community-wrapper .second-stack .pos-com-wrapper p.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.sustainable-growth-wrapper .first-stack {
  padding: 150px 0 0 0;
}
.sustainable-growth-wrapper .first-stack .left-content {
  position: relative;
}
.sustainable-growth-wrapper .first-stack .sun {
  position: absolute;
  top: -32%;
  left: 71%;
  width: 90px;
  -webkit-animation: spin 60s infinite;
  animation: spin 60s infinite;
  animation-timing-function: linear;
}
.sustainable-growth-wrapper .first-stack img {
  max-width: 95%;
  left: -85px;
  top: -85px;
  position: relative;
}
.sustainable-growth-wrapper .path-title span {
  font-size: 250px;
  color: #e7e7e7;
  height: 165px;
  line-height: 125px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.sustainable-growth-wrapper .path-title h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-left: 31%;
  margin-top: -34%;
  max-width: 350px;
  color: #c08549;
}
.sustainable-growth-wrapper .second-stack {
  padding: 0 0 120px 0;
}
.sustainable-growth-wrapper .second-stack .sust-growth-text {
  display: flex;
  justify-content: space-evenly;
}
.sustainable-growth-wrapper .second-stack .sust-growth-wrapper {
  text-align: center;
}
.sustainable-growth-wrapper .second-stack .sust-growth-wrapper h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #c08549;
  font-size: 40px;
  margin: 0;
}
.sustainable-growth-wrapper .second-stack .sust-growth-wrapper p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #282828;
  letter-spacing: 0.5px;
}
.sustainable-growth-wrapper .second-stack .sust-growth-wrapper p.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #282828;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.sustainable-growth-wrapper .third-stack.parallax {
  height: 500px;
  position: relative;
}
.sustainable-growth-wrapper .third-stack.parallax .overlay {
  background-color: #b26d00;
  opacity: 0.85;
  z-index: 0;
}
.sustainable-growth-wrapper .third-stack.parallax .overlay .trees {
  position: absolute;
  bottom: 0;
  max-width: 164px;
}
.sustainable-growth-wrapper .third-stack.parallax .overlay .moving-truck-two {
  position: absolute;
  max-width: 188px;
  bottom: 0;
  left: 12%;
}
.sustainable-growth-wrapper .third-stack.parallax .overlay .moving-truck-two.move {
  -webkit-animation: moveTwo 8s;
  /* Safari 4.0 - 8.0 */
  animation: moveTwo 8s;
  animation-fill-mode: forwards;
}
.sustainable-growth-wrapper .third-stack.parallax .overlay .people {
  position: absolute;
  bottom: 0;
  max-width: 450px;
  right: 10px;
}
.sustainable-growth-wrapper .third-stack .row {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 85px;
  right: 0;
  left: 0;
}
.sustainable-growth-wrapper .third-stack .rel-op-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sustainable-growth-wrapper .third-stack .rel-op-wrapper p {
  color: #fff;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
.sustainable-growth-wrapper .third-stack .rel-op-wrapper .rel-op-container {
  flex-direction: row;
  display: flex;
}
.sustainable-growth-wrapper .third-stack .rel-op-wrapper .rel-op-container .rel-op {
  text-align: center;
  margin: 15px 90px;
}
.sustainable-growth-wrapper .third-stack .rel-op-wrapper .rel-op-container .rel-op span {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 40px;
}
.sustainable-growth-wrapper .third-stack .rel-op-wrapper .rel-op-container .rel-op p {
  font-size: 18px;
  line-height: 20px;
}

.sustainable-development-wrapper {
  margin: 80px 0 0;
}
.sustainable-development-wrapper .section-header {
  text-align: center;
}
.sustainable-development-wrapper .section-content {
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  margin: 50px auto;
  flex-wrap: wrap;
}
.sustainable-development-wrapper .section-content > div:nth-of-type(n+13) {
  flex-basis: 19%;
  font-size: 14px;
}
.sustainable-development-wrapper .section-content > div:nth-of-type(n+13) p {
  font-size: 16px;
}
.sustainable-development-wrapper .sdg-wrapper {
  cursor: pointer;
  margin-bottom: 25px;
  text-align: center;
  flex-basis: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  cursor: pointer;
  perspective: 600;
  position: relative;
}
.sustainable-development-wrapper .sdg-wrapper img {
  margin-top: auto;
  max-width: 90%;
}
.sustainable-development-wrapper .sdg-wrapper .count {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  height: 35px;
  line-height: 30px;
}
.sustainable-development-wrapper .sdg-wrapper p {
  margin: 15px 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 25px;
}
.sustainable-development-wrapper .sdg-wrapper p, .sustainable-development-wrapper .sdg-wrapper .count {
  color: #FFF;
}
.sustainable-development-wrapper .sdg-wrapper img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.sustainable-development-wrapper .sdg-wrapper.one .side {
  background-color: #e91023;
}
.sustainable-development-wrapper .sdg-wrapper.two .side {
  background-color: #d3a02a;
}
.sustainable-development-wrapper .sdg-wrapper.three .side {
  background-color: #279a47;
}
.sustainable-development-wrapper .sdg-wrapper.four .side {
  background-color: #c32033;
}
.sustainable-development-wrapper .sdg-wrapper.five .side {
  background-color: #c23c28;
}
.sustainable-development-wrapper .sdg-wrapper.six .side {
  background-color: #35b3da;
}
.sustainable-development-wrapper .sdg-wrapper.seven .side {
  background-color: #f3ab0a;
}
.sustainable-development-wrapper .sdg-wrapper.eight .side {
  background-color: #901939;
}
.sustainable-development-wrapper .sdg-wrapper.nine .side {
  background-color: #f36f27;
}
.sustainable-development-wrapper .sdg-wrapper.ten .side {
  background-color: #e11382;
}
.sustainable-development-wrapper .sdg-wrapper.eleven .side {
  background-color: #f99c1e;
}
.sustainable-development-wrapper .sdg-wrapper.twelve .side {
  background-color: #dba962;
}
.sustainable-development-wrapper .sdg-wrapper.thirteen .side {
  background-color: #47773d;
}
.sustainable-development-wrapper .sdg-wrapper.fourteen .side {
  background-color: #057dbc;
}
.sustainable-development-wrapper .sdg-wrapper.fifteen .side {
  background-color: #3baf48;
}
.sustainable-development-wrapper .sdg-wrapper.sixteen .side {
  background-color: #02558b;
}
.sustainable-development-wrapper .sdg-wrapper.seventeen .side {
  background-color: #253064;
}
.sustainable-development-wrapper .sdg-wrapper .card-container {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: 10px;
}
.sustainable-development-wrapper .sdg-wrapper .card-container:hover {
  transform: rotateY(180deg);
}
.sustainable-development-wrapper .sdg-wrapper .card-container .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  padding: 10%;
}
.sustainable-development-wrapper .sdg-wrapper .card-container .back {
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sustainable-development-wrapper .sdg-wrapper .card-container .back p {
  font-size: 16px;
  line-height: 22px;
}
.sustainable-development-wrapper .sdg-wrapper .card-container .back p strong {
  font-size: 40px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.sustainable-development-wrapper .sdg-wrapper .card-container .back.small-text p {
  font-size: 12px;
  line-height: 14px;
  margin: 5px 0;
}
.sustainable-development-wrapper .sdg-wrapper .card-container .back.small-text p strong {
  font-size: 30px;
  margin-bottom: 15px;
}

.cards-stack {
  margin: 50px 0 100px;
}
.cards-stack .cards-image {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.cards-stack .smic-overlay {
  background-color: #000;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.2;
}
.cards-stack h5 {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
}
.cards-stack img {
  width: 100%;
  height: auto;
}
.cards-stack .cards-info {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.cards-stack .cards-info .title {
  color: #FFF;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}
.cards-stack .cards-info a {
  background: url(../img/thumb-arrow.png) center no-repeat;
  background-size: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 100%;
  padding: 25px;
  position: absolute;
  bottom: 18px;
  right: 50px;
}
.cards-stack.communities-closer-look .cards-info {
  top: 20px;
}
.cards-stack.communities-closer-look .cards-info .title {
  margin-bottom: 0;
}
.cards-stack.communities-closer-look .cards-info .desc {
  color: #FFF;
  margin-left: 30px;
  margin-right: 60px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.smic-tabs ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin: 25px 0;
}
.smic-tabs li {
  width: calc(100%/7);
  float: left;
}
.smic-tabs li a {
  padding: 0 0 10px;
  border-bottom: 3px solid #f1f1f1;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
}
.smic-tabs li.active a, .smic-tabs li:hover a {
  border-color: #1e388c;
}

.comm-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comm-row .comm-wrapper {
  padding: 10px;
}
.comm-row .comm-wrapper.title {
  flex-basis: 38%;
}
.comm-row .comm-wrapper.title h3 {
  color: #213b8e;
  padding: 0px 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.comm-row .comm-wrapper.title p {
  padding: 0px 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.comm-row .comm-wrapper.title span {
  color: #213b8e;
  padding: 0px 60px;
  font-family: 'Lato', sans-serif;
}
.comm-row .comm-wrapper.title-inside {
  flex-basis: 55%;
}
.comm-row .comm-wrapper.title-inside p {
  font-size: 16px;
}
.comm-row .comm-wrapper.title-inside h3 {
  font-size: 24px;
}
.comm-row .comm-wrapper.title-inside ul {
  margin: 10px 0 0;
  text-align: left;
  list-style: disc;
  padding: 0 80px;
}
.comm-row .comm-wrapper.title-inside ul li {
  text-align: left;
}
.comm-row .comm-wrapper.subtitle {
  margin-right: auto;
  margin-left: 40px;
}
.comm-row .comm-wrapper.subtitle h3 {
  color: #213b8e;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: left;
  margin: 0;
}
.comm-row .comm-wrapper.desc {
  flex-basis: 42%;
}
.comm-row .comm-wrapper.desc p {
  font-size: 15px;
  padding: 0 35px;
  font-family: 'Lato', sans-serif;
}
.comm-row .comm-wrapper:first-of-type {
  padding-left: 0;
}
.comm-row .comm-wrapper:last-of-type {
  padding-right: 0;
}
.comm-row img {
  width: 100%;
  height: auto;
}

.comm-content > div {
  display: none;
}
.comm-content #socialChange {
  display: block;
}

.special-needs .comm-container h3 {
  font-weight: bold;
}
.special-needs .comm-container .icons-wrapper {
  align-items: end;
}
.special-needs .comm-container .icons-wrapper span {
  margin: 0;
}

.operation-tulong .comm-wrapper.title-inside h3, .operation-tulong .comm-wrapper.title-inside p {
  padding: 0px 40px;
}
.operation-tulong .comm-wrapper.title-inside p strong {
  color: #213b8e;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.operation-tulong .comm-wrapper.title-2 {
  flex-basis: 30%;
}
.operation-tulong .comm-wrapper.title-2 h3, .operation-tulong .comm-wrapper.title-2 p {
  padding: 0px 40px;
}
.operation-tulong .comm-wrapper.title-2 p strong {
  color: #213b8e;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.special-container h3 {
  margin-bottom: 35px;
}
.special-container .left-content img {
  width: 100%;
  height: auto;
}
.special-container .right-content {
  padding: 0 50px;
}
.special-container .right-content span.special-title {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.special-container .right-content span.subtitle {
  color: #213b8e;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}
.special-container .right-content p {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.special-container.testi .row {
  margin: 50px -15px;
}
.special-container.testi .right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comm-images-stack .section-header {
  margin: 75px 0;
}
.comm-images-stack .section-header h4 {
  text-align: center;
  font-size: 32px;
  margin: 0;
}
.comm-images-stack .section-header p {
  text-align: center;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0 0;
}
.comm-images-stack .section-content img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.comm-images-stack .section-content .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}
.comm-images-stack .section-content .info > div {
  flex-basis: 50%;
}
.comm-images-stack .section-content .info .left-content {
  padding-left: 12%;
}
.comm-images-stack .section-content .info .left-content p {
  color: #213b8e;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.comm-images-stack .section-content .info .right-content {
  padding-right: 5%;
}
.comm-images-stack .section-content .info .right-content ul {
  margin: 15px 0;
  padding: 0 0 0 20px;
  text-align: left;
  list-style-type: disc;
}
.comm-images-stack .section-content .info .right-content ul li {
  text-align: left;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.comm-images-stack .section-content .info .right-content p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.comm-images-stack .section-content .info .right-content .subtitle {
  color: #213b8e;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.comm-container {
  padding: 60px 0;
}
.comm-container h3 {
  text-align: center;
  font-size: 26px;
  color: #1f398d;
  font-family: 'Lato', sans-serif;
}
.comm-container .icons-com {
  max-width: 90%;
  margin: auto;
}
.comm-container .icons-wrapper {
  display: flex;
  align-items: center;
  margin: 35px 0 0;
}
.comm-container .icons-wrapper p {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.comm-container .icons-wrapper span {
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #f09b1e;
  margin-right: 25px;
}
.comm-container .icons-wrapper img {
  margin-right: 25px;
}
.comm-container.third-stack .icons-com {
  max-width: 50%;
}

.gallery-row-framework {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-row-framework .gallery-wrapper {
  padding: 10px;
  height: 290px;
  width: 500px;
}
.gallery-row-framework .gallery-wrapper.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 38%;
}
.gallery-row-framework .gallery-wrapper.title h3 {
  color: #213b8e;
  padding: 0px 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.gallery-row-framework .gallery-wrapper.desc {
  flex-basis: 42%;
}
.gallery-row-framework .gallery-wrapper.desc p {
  font-size: 15px;
  padding: 0 35px;
  font-family: 'Lato', sans-serif;
}
.gallery-row-framework .gallery-wrapper:first-of-type {
  padding-left: 0;
}
.gallery-row-framework .gallery-wrapper:last-of-type {
  padding-right: 0;
}
.gallery-row-framework img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comm-tabs ul {
  padding: 0 40px;
  list-style: none;
  margin-top: 50px;
}
.comm-tabs li {
  text-align: center;
}
.comm-tabs a {
  display: flex;
  color: #000;
  font-size: 13px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.comm-tabs a img {
  max-width: 70px;
}

.communities {
  margin: 50px 0;
}

.comm-content h4 {
  color: #213b8e;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.communities-table {
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: 5px;
}
.communities-table thead {
  border-bottom: 1px solid #a6a6a6;
}
.communities-table td {
  vertical-align: top;
  padding: 30px 50px;
}
.communities-table td p {
  margin: 0 0 5px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}
.communities-table td h5 {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.communities-table td:first-of-type {
  min-width: 300px;
}
.communities-table th {
  padding: 20px 50px 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.countdownZero {
  margin: 50px 0;
}
.countdownZero .row {
  margin: 0;
}
.countdownZero .countdown-content {
  padding-left: 0;
}

.countdown-content img {
  max-width: 85%;
}
.countdown-content .sun {
  position: absolute;
  right: 20%;
  top: 5%;
  max-width: 95px;
  -webkit-animation: spin 60s infinite;
  animation: spin 60s infinite;
  animation-timing-function: linear;
}

.countdown-text {
  margin: auto;
  padding: 0 50px 0 0;
}
.countdown-text h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #1e398d;
  font-size: 30px;
}
.countdown-text p {
  line-height: 30px;
}

.energyProj-wrapper .parallax {
  height: 500px;
  position: relative;
}
.energyProj-wrapper .parallax .overlay {
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}
.energyProj-wrapper .energy-wrapper {
  display: flex;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}
.energyProj-wrapper .energy-wrapper h4 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.energyProj-wrapper .energy-infographic-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.energyProj-wrapper .energy-infographic-wrapper .energy-content {
  display: flex;
  flex-direction: column;
  margin: 40px 50px 0px;
  align-items: center;
}
.energyProj-wrapper .energy-infographic-wrapper .energy-content img {
  max-width: 110px;
  margin-bottom: 10px;
}
.energyProj-wrapper .energy-infographic-wrapper .energy-content .count {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 25px;
}
.energyProj-wrapper .energy-infographic-wrapper .energy-content p {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.ghgEmissions-wrapper .first-stack {
  margin-top: 100px;
  text-align: center;
}
.ghgEmissions-wrapper .first-stack h4 {
  color: #333333;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.ghgEmissions-wrapper .first-stack p {
  color: #333333;
  font-family: 'Lato', sans-serif;
}
.ghgEmissions-wrapper .second-stack {
  border-top: 1px solid #d7d7d7;
  margin-top: 50px;
  margin-bottom: 100px;
}

.ghgEmissions-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0 0 0;
  align-items: flex-end;
}
.ghgEmissions-content-wrapper .ghgEmissions-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ghgEmissions-content-wrapper .ghgEmissions-content img {
  max-width: 35%;
}
.ghgEmissions-content-wrapper .ghgEmissions-content .count {
  color: #1e398d;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-top: 30px;
}
.ghgEmissions-content-wrapper .ghgEmissions-content p {
  color: #333333;
  font-family: 'Lato', sans-serif;
}

.ghgWaste {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0 0 0;
  align-items: center;
}
.ghgWaste h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.ghgWaste .ghgWaste-infographics-wrapper {
  display: flex;
  align-items: flex-end;
}
.ghgWaste .ghgWaste-content {
  display: flex;
  align-items: center;
  margin-right: 150px;
}
.ghgWaste .ghgWaste-content img {
  margin-right: 20px;
}
.ghgWaste .ghgWaste-content .count {
  color: #e02543;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
}
.ghgWaste .ghgWaste-content p {
  font-family: 'Lato', sans-serif;
}

.environmentalWater-wrapper .parallax {
  height: 600px;
  position: relative;
}
.environmentalWater-wrapper .parallax .overlay {
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}
.environmentalWater-wrapper .water-content-wrapper {
  position: relative;
  float: right;
  right: 10%;
  top: 20%;
  color: #fff;
}
.environmentalWater-wrapper .water-content-wrapper h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.environmentalWater-wrapper .water-content-wrapper .water-content {
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
}
.environmentalWater-wrapper .water-content-wrapper .water-content .water-content-infographics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}
.environmentalWater-wrapper .water-content-wrapper .water-content .water-content-infographics img {
  max-width: 100px;
}
.environmentalWater-wrapper .water-content-wrapper .water-content .water-content-infographics .count {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-top: 30px;
}
.environmentalWater-wrapper .water-content-wrapper .water-content .water-content-infographics .water-content-olympics {
  text-align: center;
}
.environmentalWater-wrapper .water-content-wrapper .water-content .water-content-infographics .water-content-olympics p {
  margin-top: 10px;
}

.guiding-principles {
  background: url(../img/sustainability-framework/guidingprinciple-UN.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.guiding-principles .smic-container {
  width: 100%;
}
.guiding-principles .title-container h5 {
  color: #2f822f;
  font-size: 26px;
  margin: 0;
}
.guiding-principles .title-container span {
  font-size: 13px;
}
.guiding-principles ul {
  padding: 0;
  columns: 2;
  list-style: none;
  margin: 80px 0 0;
}
.guiding-principles ul li {
  break-inside: avoid;
  padding-left: 35px;
  position: relative;
  font-size: 14px;
  min-height: 70px;
  max-width: 90%;
}
.guiding-principles ul li::before {
  content: '';
  background: url(../img/sustainability-framework/guidingprinciple-check.png) 0 0 no-repeat;
  display: inline-block;
  background-size: 20px;
  width: 30px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 4px;
}

.sustainability-framework {
  padding: 80px 0;
}
.sustainability-framework .section-header {
  text-align: center;
}
.sustainability-framework .section-header p {
  font-size: 15px;
  line-height: 20px;
}

.sm-sdg .section-body {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}
.sm-sdg .sm-sdg-wrapper {
  margin: 0px 10px;
  text-align: center;
  flex-basis: 15%;
}
.sm-sdg .sm-sdg-wrapper p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}
.sm-sdg .sm-sdg-wrapper span {
  font-size: 14px;
}
.sm-sdg .sm-sdg-wrapper img {
  max-width: 120px;
  margin-bottom: 20px;
}

.reporting-process .section-body {
  display: flex;
  padding: 0 50px;
}
.reporting-process .reporting-card {
  flex-basis: 25%;
  margin: 15px;
  box-shadow: 0 0 5px 5px #f0f0f0;
  border-radius: 5px;
  padding: 30px;
}
.reporting-process .reporting-card .count {
  color: #1cb7ec;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 42px;
  height: 45px;
  display: inline-block;
}
.reporting-process .reporting-card h4 {
  font-size: 18px;
  margin: 10px 0;
}
.reporting-process .reporting-card p {
  font-size: 13px;
  line-height: 17px;
}
.reporting-process .bottom-content {
  padding-top: 10px;
  border-top: 1px solid #c6c6c6;
}
.reporting-process .bottom-content span {
  font-size: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.materiality-matrix .section-body {
  text-align: center;
}
.materiality-matrix .section-body img.matrix-image {
  width: 100%;
  height: auto;
}
.materiality-matrix .section-body .title {
  margin-top: 50px;
}
.materiality-matrix .section-body .title span {
  font-size: 14px;
  font-weight: bold;
}
.materiality-matrix ul {
  list-style: none;
  padding: 0;
  columns: 3;
  max-width: 730px;
  margin: 5px auto 0;
  text-align: left;
}
.materiality-matrix ul li {
  font-size: 14px;
  padding: 10px 0 10px 35px;
  position: relative;
}
.materiality-matrix ul li::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.materiality-matrix ul li.ep::before {
  background: url(../img/sustainability-framework/keythemes-graph-1-economic.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.mp::before {
  background: url(../img/sustainability-framework/keythemes-graph-2-market.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.lbr::before {
  background: url(../img/sustainability-framework/keythemes-graph-3-labor.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.cg::before {
  background: url(../img/sustainability-framework/keythemes-graph-4-corpgov.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.ci::before {
  background: url(../img/sustainability-framework/keythemes-graph-5-community.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.es::before {
  background: url(../img/sustainability-framework/keythemes-graph-6-envi.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.deo::before {
  background: url(../img/sustainability-framework/keythemes-graph-7-diversity.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.isc::before {
  background: url(../img/sustainability-framework/keythemes-graph-8-supplychain.png) no-repeat;
  background-size: cover;
}
.materiality-matrix ul li.td::before {
  background: url(../img/sustainability-framework/keythemes-graph-9-training.png) no-repeat;
  background-size: cover;
}

.topic-boundaries {
  background-color: #f5f5f5;
}
.topic-boundaries table {
  background-color: #FFF;
  box-shadow: 0 0 5px 5px #e6e6e6;
  border-radius: 5px;
  max-width: 80%;
  margin: 50px auto;
}
.topic-boundaries table th {
  padding: 20px 40px 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.topic-boundaries table thead {
  border-bottom: 1px solid #a6a6a6;
}
.topic-boundaries table td {
  vertical-align: top;
  padding: 20px 40px;
  font-size: 14px;
}
.topic-boundaries table td:first-of-type {
  min-width: 280px;
}
.topic-boundaries table td:nth-of-type(2) {
  min-width: 320px;
}
.topic-boundaries table .divider {
  border-top: 2px solid #f5f5f5;
}

.economic-impact-wrapper {
  padding: 80px 0;
}

.economic-value .section-header {
  margin-bottom: 50px;
}
.economic-value .section-content {
  max-width: 75%;
  margin: auto;
}
.economic-value .ev-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.economic-value .ev-container img {
  max-width: 75%;
}
.economic-value .ev-container span {
  color: #25b0d4;
  font-size: 35px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  margin: 10px 0;
}
.economic-value .ev-container p {
  font-size: 17px;
  text-align: center;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.economic-value .parallax {
  height: 400px;
}

.page-economic-impact .section-header {
  text-align: center;
}
.page-economic-impact .section-header h3 {
  color: #2f832f;
  margin-bottom: 40px;
}
.page-economic-impact .section-header p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
}
.page-economic-impact .section-header p.big {
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
}
.page-economic-impact .parallax {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-economic-impact .parallax .overlay {
  background-color: #000;
  opacity: 0.45;
  z-index: 0;
}
.page-economic-impact .ei-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
  min-width: 250px;
}
.page-economic-impact .ei-container span {
  font-size: 35px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  margin: 10px 0;
}
.page-economic-impact .ei-container p {
  font-size: 17px;
  text-align: center;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.page-economic-impact .ei-container span, .page-economic-impact .ei-container p {
  color: #FFF;
}

.economic-activity .parallax {
  height: 400px;
}

.economic-communities .ei-container {
  margin: 0;
  min-width: 320px;
}
.economic-communities .parallax {
  height: 400px;
}

.economic-government .parallax {
  height: 400px;
}
.economic-government .parallax img {
  width: 100px;
}

.economic-shareholders .parallax {
  height: 400px;
}

.bdo-sustainability .section-header {
  padding: 80px;
  text-align: center;
}
.bdo-sustainability .section-header h3 {
  margin-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.bdo-sustainability .section-header p {
  font-size: 14px;
  margin: 0;
  line-height: 18px;
}
.bdo-sustainability .parallax {
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bdo-sustainability .parallax .overlay {
  background-color: #000;
  opacity: 0.45;
  z-index: 0;
}
.bdo-sustainability .ei-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}
.bdo-sustainability .ei-container span {
  font-size: 30px;
  font-family: 'Nunito',sans-serif;
  font-weight: bold;
  margin: 10px 0;
}
.bdo-sustainability .ei-container p {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.bdo-sustainability .ei-container span, .bdo-sustainability .ei-container p {
  color: #FFF;
}
.bdo-sustainability .bdo-map {
  text-align: center;
  padding: 80px;
}
.bdo-sustainability .bdo-map h4 {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.bdo-sustainability .bdo-map img {
  width: 100%;
  max-width: 70%;
  margin: auto;
}

.table-key {
  max-width: 80%;
  margin: 50px 50px 60px auto;
  position: relative;
}
.table-key table {
  position: relative;
  width: 100%;
}
.table-key table::before, .table-key table::after {
  content: '';
  display: block;
  position: absolute;
}
.table-key table::before {
  border-bottom: 12px solid #67b9ce;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  top: -12px;
  left: -6px;
}
.table-key table::after {
  border-left: 12px solid #67b9ce;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  bottom: -6px;
  right: -13px;
}
.table-key td {
  padding: 26px;
  border: 2px solid #EBEBEB;
}
.table-key td:first-of-type {
  border-left: 3px solid #67B9CE;
}
.table-key tr:last-of-type td {
  border-bottom: 3px solid #67B9CE;
}
.table-key span {
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
}
.table-key span.low-mid {
  left: -50px;
  bottom: -30px;
}
.table-key span.high-up {
  left: -50px;
  top: 0;
}
.table-key span.high-right {
  right: 0;
  bottom: -30px;
}
.table-key p {
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  height: 38px;
}
.table-key p.left-content {
  left: -185px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.table-key p.bottom-content {
  left: 0;
  right: 0;
  bottom: -48px;
  margin: auto;
  text-align: center;
}
.table-key .key-icons > div {
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  position: absolute;
}
.table-key .key-icons .ep {
  background: url(../img/sustainability-framework/keythemes-graph-1-economic.png) no-repeat;
  background-size: cover;
  left: 94.5%;
  bottom: 88%;
}
.table-key .key-icons .mp {
  background: url(../img/sustainability-framework/keythemes-graph-2-market.png) no-repeat;
  background-size: cover;
  left: 90%;
  bottom: 69%;
}
.table-key .key-icons .lbr {
  background: url(../img/sustainability-framework/keythemes-graph-3-labor.png) no-repeat;
  background-size: cover;
  left: 80.5%;
  bottom: 82%;
}
.table-key .key-icons .cg {
  background: url(../img/sustainability-framework/keythemes-graph-4-corpgov.png) no-repeat;
  background-size: cover;
  left: 85%;
  bottom: 57%;
}
.table-key .key-icons .ci {
  background: url(../img/sustainability-framework/keythemes-graph-5-community.png) no-repeat;
  background-size: cover;
  left: 63.5%;
  bottom: 75%;
}
.table-key .key-icons .es {
  background: url(../img/sustainability-framework/keythemes-graph-6-envi.png) no-repeat;
  background-size: cover;
  left: 71%;
  bottom: 57%;
}
.table-key .key-icons .deo {
  background: url(../img/sustainability-framework/keythemes-graph-7-diversity.png) no-repeat;
  background-size: cover;
  left: 55%;
  bottom: 50%;
}
.table-key .key-icons .isc {
  background: url(../img/sustainability-framework/keythemes-graph-8-supplychain.png) no-repeat;
  background-size: cover;
  left: 43%;
  bottom: 45%;
}
.table-key .key-icons .td {
  background: url(../img/sustainability-framework/keythemes-graph-9-training.png) no-repeat;
  background-size: cover;
  left: 30.5%;
  bottom: 32%;
}

.rotating-diagram {
  position: relative;
}
.rotating-diagram .rd-wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rotating-diagram .rd-wrapper .overlay {
  opacity: 0.8;
}
.rotating-diagram .rd-wrapper .smic-container {
  z-index: 3;
}
.rotating-diagram .rd-wrapper .content {
  text-align: center;
  margin-left: 290px;
}
.rotating-diagram .rd-wrapper .content a {
  color: #FFF;
  border: 1px solid #FFF;
  padding: 6px 20px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 12px;
}
.rotating-diagram .rd-wrapper .content h3 {
  color: #FFF;
  font-size: 32px;
}
.rotating-diagram .economic-impact {
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  height: 90vh;
  width: 35%;
  margin-left: -150px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 12%;
  transform: rotate(0);
}
.rotating-diagram .economic-impact .circle-mid {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #FFF;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Nunito', sans-serif;
  z-index: 1;
}
.rotating-diagram .economic-impact > svg {
  width: 90%;
}
.rotating-diagram .economic-impact.rotate-env svg {
  transform: rotate(0deg);
}
.rotating-diagram .economic-impact.rotate-env svg #XMLID_350_,
.rotating-diagram .economic-impact.rotate-env svg #XMLID_323_ {
  opacity: 0.5;
}
.rotating-diagram .economic-impact.rotate-soc svg {
  transform: rotate(-110deg);
}
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_350_,
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_349_ {
  opacity: 0.5;
}
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_11_ {
  transform: rotate(110deg) translate(25px, -580px);
}
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_6_ {
  transform: rotate(110deg) translate(225px, -680px);
}
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_8_ {
  transform: rotate(110deg) translate(375px, -510px);
}
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_9_ {
  transform: rotate(110deg) translate(275px, -310px);
}
.rotating-diagram .economic-impact.rotate-soc svg #XMLID_10_ {
  transform: rotate(110deg) translate(75px, -350px);
}
.rotating-diagram .economic-impact.rotate-gov svg {
  transform: rotate(-220deg);
}
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_323_,
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_349_ {
  opacity: 0.5;
}
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_11_ {
  transform: rotate(220deg) translate(-555px, 170px);
}
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_6_ {
  transform: rotate(220deg) translate(-785px, -30px);
}
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_8_ {
  transform: rotate(220deg) translate(-685px, -210px);
}
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_9_ {
  transform: rotate(220deg) translate(-465px, -220px);
}
.rotating-diagram .economic-impact.rotate-gov svg #XMLID_10_ {
  transform: rotate(220deg) translate(-365px, -10px);
}
.rotating-diagram .our-sustainability {
  background-color: #27a5ce;
}
.rotating-diagram .our-sustainability .row {
  align-items: center;
}
.rotating-diagram .our-sustainability .right-content {
  padding: 0 110px 0 50px;
}
.rotating-diagram .our-sustainability .left-content {
  padding-left: 280px;
}
.rotating-diagram .our-sustainability .left-content h2 {
  font-size: 30px;
  color: #FFF;
  max-width: 0;
  margin-left: 250px;
  font-size: 50px;
}
.rotating-diagram .environmental .overlay {
  background-color: #27a5ce;
}
.rotating-diagram .social .overlay {
  background-color: #2d912d;
}
.rotating-diagram .governance .overlay {
  background-color: #4e67bb;
}
.rotating-diagram p {
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  line-height: 28px;
  font-weight: 100;
  font-size: 21px;
}

.sustainability-report {
  padding: 100px 0 30px;
  border-bottom: 3px solid #f5f5f5;
}
.sustainability-report .reports-wrapper {
  margin-bottom: 30px;
}
.sustainability-report .reports-wrapper .thumb-wrapper {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.sustainability-report .reports-wrapper img {
  width: 100%;
  height: auto;
}
.sustainability-report .reports-wrapper p {
  color: #1CB7EB;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 80%;
  text-align: center;
  margin: 18px auto;
}
.sustainability-report .reports-wrapper .arrow-link {
  background: url(../img/thumb-arrow.png) center no-repeat;
  background-size: 25px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 100%;
  padding: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.smic-footer {
  background-image: url(../img/footer-ar-background.jpg);
  background-size: cover;
  height: 220px;
  width: 100%;
  position: relative;
}
.smic-footer .smic-footer-top {
  height: 100%;
  width: 100%;
}
.smic-footer .smic-footer-top .smic-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.smic-footer .smic-footer-top .ar-download-container {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}
.smic-footer .smic-footer-top .ar-download-container .btt {
  height: auto;
  width: 50px;
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
}
.smic-footer .smic-footer-top .ar-download-container h2 {
  color: #FFF;
}
.smic-footer .smic-footer-top .ar-download-container .ar-download-button {
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 10px;
  margin: -27px 0;
  font-size: 17px;
}
.smic-footer .smic-footer-top .ar-download-container .ar-download-button .ar-download-button-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.smic-footer .smic-footer-top .ar-download-container .ar-download-button .ar-download-button-link img {
  width: 12%;
  margin-right: 10px;
}
.smic-footer .smic-footer-bottom {
  width: 100%;
  height: auto;
  background-color: #182657;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container {
  max-width: 90%;
  margin: auto;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container .smic-fb-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 5%;
  width: 100%;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container .smic-fb-left img {
  width: 160px;
  margin-bottom: 40px;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container .smic-fb-right {
  -webkit-flex-basis: 20%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container .smic-fb-right .smic-fb-navlink ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container .smic-fb-right .smic-fb-navlink ul li {
  margin: 5px 0;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container .smic-fb-right .smic-fb-navlink ul li a {
  color: white;
}
.smic-footer .smic-footer-bottom .smic-footer-bottom-container p {
  max-width: 80%;
}
.smic-footer .smic-footer-bottom .smic-footer-contact {
  max-width: 90%;
  margin: auto;
  background-color: #333f69;
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.smic-footer .smic-footer-bottom .smic-footer-contact .smic-fc-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 20px;
}
.smic-footer .smic-footer-bottom .smic-footer-contact .smic-fc-content img {
  margin-right: 10px;
  width: 18px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.smic-footer .smic-footer-bottom .smic-footer-contact .smic-fc-content p {
  color: white;
  margin: 0;
}
.smic-footer .smic-footer-bottom .smic-footer-contact .smic-fc-content a {
  color: white;
}
.smic-footer .smic-footer-bottom .smic-footer-social {
  max-width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
}
.smic-footer .smic-footer-bottom .smic-footer-social .smic-copyright p {
  color: #69718d;
}
.smic-footer .smic-footer-bottom .smic-footer-social .smic-socialmedia {
  display: inline-flex;
}
.smic-footer .smic-footer-bottom .smic-footer-social .smic-socialmedia a {
  margin: 0 10px;
}
.smic-footer .smic-footer-bottom .smic-footer-social .smic-socialmedia a:last-of-type {
  margin: 0;
}
.smic-footer .smic-footer-bottom .smic-footer-social .smic-socialmedia a img {
  height: auto;
  width: 50px;
}

@media screen and (max-width: 1366px) {
  .rotating-diagram .our-sustainability .left-content h2 {
    margin-left: 0;
  }
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-filter {
  display: flex;
  justify-content: flex-end;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-filter .filters {
  flex-basis: 50%;
  max-width: 50%;
  display: flex;
  margin-top: 80px;
  justify-content: flex-end;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-filter .filters .category, .page-node-sustainable-stories .sustainable-stories .sustainable-stories-filter .filters .year {
  display: block;
  margin-right: 20px;
  width: 30%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-filter .filters .year {
  width: 10%;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-filter .filters .searchBtn {
  margin: 0;
  background-color: #0e2987;
  color: white;
  padding: 10px 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border-radius: 5px;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-wrapper {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-wrapper .sustainable-stories-item {
  margin: 20px;
  border: 1px solid rgba(128, 128, 128, 0.507);
  padding-left: 0;
  flex-basis: 30%;
  max-width: 30%;
  padding-right: 0;
  position: relative;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-wrapper .sustainable-stories-item > img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-wrapper .sustainable-stories-item > h2 {
  color: #213b8e;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  margin: 20px 0;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-wrapper .sustainable-stories-item > p {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-wrapper .sustainable-stories-item .sustainable-stories-foot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.page-node-sustainable-stories .sustainable-stories .sustainable-stories-wrapper .sustainable-stories-item .sustainable-stories-foot > a img {
  height: auto;
  width: 60px;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container {
  display: flex;
  margin: 80px 0;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-content h2 {
  margin: 0;
  color: #0e2987;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-content .inside-content-bottom {
  display: flex;
  border-bottom: 1px solid rgba(138, 138, 138, 0.525);
  margin-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-content .inside-content-bottom p {
  color: #0e2987;
  margin: 0;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-content .inside-content-bottom .social_media_button a img {
  width: 30px;
  height: auto;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-content .stories-main-content {
  padding: 2em 0;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories {
  margin: 0;
  padding-bottom: 20px;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories > h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #0e2987;
  font-size: 18px;
  text-transform: uppercase;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories .other-stories-content .other-stories-item {
  border-top: 1px solid rgba(138, 138, 138, 0.525);
  padding: 10px 0;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories .other-stories-content .other-stories-item:last-of-type {
  border-bottom: 1px solid rgba(138, 138, 138, 0.525);
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories .other-stories-content .other-stories-item > a {
  padding: 0;
  color: #8a8a8a;
  font-family: "Lato",sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 700;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories .other-stories-content .other-stories-item > p {
  padding: 0;
  color: #8a8a8a;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
  margin: 0;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories .backbtn {
  margin-top: 30px;
}
.page-node-sustainable-stories .sustainable-stories .story-inside-container .inside-other-stories .backbtn .other-stories-back {
  background-color: #0e2987;
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.social-change .second-stack {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 100px;
  align-items: center;
  flex-direction: column;
  margin: 2em 0;
}
.social-change .second-stack > img {
  height: auto;
  width: 70%;
}

#socialImpact {
  height: 25px;
  overflow: hidden;
  transition: all 0.5s ease;
}
#socialImpact.oops {
  height: 100px;
}

.socsecstyle {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.kowt {
  margin-top: 1.5em;
}

.eduone {
  display: flex;
  flex-direction: column;
}
.eduone > img {
  height: auto;
  width: 60%;
  margin: auto;
}
.eduone .sm-section-1 {
  text-align: left;
  background-color: white;
  height: auto;
  position: relative;
}
.eduone .sm-section-1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f09b1e;
  height: 3px;
  bottom: -10px;
}
.eduone .sm-section-1 > h3 {
  font-size: 22px;
  margin: 0;
  background-color: #f09b1e;
  color: white;
  padding: 10px;
  display: inline;
}

.sm-section-2 {
  text-align: left;
  background-color: white;
  height: auto;
  position: relative;
}
.sm-section-2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f09b1e;
  height: 3px;
  bottom: -10px;
}
.sm-section-2 > h3 {
  font-size: 22px;
  margin: 0;
  background-color: #f09b1e;
  color: white;
  padding: 10px;
  display: inline;
}

.farmersinfograph {
  display: flex;
  justify-content: center;
}

.healthcareinfo {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.healthcareinfo > img {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
